indicator {
    display: inline-block;
    font-weight: bold;
    height: 26px;
    line-height: calc(var(--font-size-normal) - 2);
    text-align: center;
    vertical-align: middle;
}

indicator.indicator--highlights,
indicator.indicator--counter {
    padding: 5px;
    min-width: 26px;
}

indicator.indicator--highlights {
    background-color: rgb(253, 226, 72);
    border: 1px solid rgb(252, 220, 41);
}

indicator.indicator--counter {
    background-color: rgb(232, 38, 59);
    border-radius: 50%;
    border: 1px solid rgb(224, 0, 24);
    color: white;
    height: 30px;
    padding: 7px 0 0 0;
    width: 30px;
}

indicator.indicator--useful::before {
    background-image: url(./images/heart.svg);
    background-position: 0;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 24px;
}

indicator.indicator--useful span {
    padding-left: 6px;
}

indicator.indicator--useful .indicator--useful__value-,
indicator.indicator--useful .indicator-useful__value-0 {
    display: none;
}

indicator + indicator {
    margin-left: 10px;
}

.tag-elem indicator {
    position: relative;
    right: 4px;
    top: -22px;
    transform: scale(.9);
}
