.is-non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.can-load {
    transition: opacity .3s;
}

.loading {
    opacity: .5;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.block {
    display: block;
    width: 100%;
}

.full-span {
    width: 100%;
}

.desktop-only {
    display: none;
}

.header-spacing--top {
    margin-top: 50px;
}

.take-space::after {
    content: '\00a0';
    display: inline-block;
    width: 0;
}

.padding-bottom-large { padding-bottom: var(--spacing-large); }
.padding-bottom-medium { padding-bottom: var(--spacing-medium); }
.padding-bottom-small { padding-bottom: var(--spacing-small); }
.padding-bottom-xlarge { padding-bottom: var(--spacing-xlarge); }
.padding-bottom-xsmall { padding-bottom: var(--spacing-xsmall); }

.padding-left-large { padding-left: var(--spacing-large); }
.padding-left-medium { padding-left: var(--spacing-medium); }
.padding-left-small { padding-left: var(--spacing-small); }
.padding-left-xlarge { padding-left: var(--spacing-xlarge); }
.padding-left-xsmall { padding-left: var(--spacing-xsmall); }

.padding-right-large { padding-right: var(--spacing-large); }
.padding-right-medium { padding-right: var(--spacing-medium); }
.padding-right-small { padding-right: var(--spacing-small); }
.padding-right-xlarge { padding-right: var(--spacing-xlarge); }
.padding-right-xsmall { padding-right: var(--spacing-xsmall); }

.padding-top-large { padding-top: var(--spacing-large); }
.padding-top-medium { padding-top: var(--spacing-medium); }
.padding-top-small { padding-top: var(--spacing-small); }
.padding-top-xlarge { padding-top: var(--spacing-xlarge); }
.padding-top-xsmall { padding-top: var(--spacing-xsmall); }

.margin-bottom-large { margin-bottom: var(--spacing-large); }
.margin-bottom-medium { margin-bottom: var(--spacing-medium); }
.margin-bottom-small { margin-bottom: var(--spacing-small); }
.margin-bottom-xlarge { margin-bottom: var(--spacing-xlarge); }
.margin-bottom-xsmall { margin-bottom: var(--spacing-xsmall); }

.margin-left-large { margin-left: var(--spacing-large); }
.margin-left-medium { margin-left: var(--spacing-medium); }
.margin-left-small { margin-left: var(--spacing-small); }
.margin-left-xlarge { margin-left: var(--spacing-xlarge); }
.margin-left-xsmall { margin-left: var(--spacing-xsmall); }

.margin-right-large { margin-right: var(--spacing-large); }
.margin-right-medium { margin-right: var(--spacing-medium); }
.margin-right-small { margin-right: var(--spacing-small); }
.margin-right-xlarge { margin-right: var(--spacing-xlarge); }
.margin-right-xsmall { margin-right: var(--spacing-xsmall); }

.margin-top-large { margin-top: var(--spacing-large); }
.margin-top-medium { margin-top: var(--spacing-medium); }
.margin-top-small { margin-top: var(--spacing-small); }
.margin-top-xlarge { margin-top: var(--spacing-xlarge); }
.margin-top-xsmall { margin-top: var(--spacing-xsmall); }

.screen-small-only {
    display: initial;
}

@media (--media-regular-screens) {
    .screen-small-only {
        display: none;
    }

    .desktop-only {
        display: inherit;
    }
}
