<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="browser-ie7 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="browser-ie8 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="browser-ie9 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="browser-modern"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>consumr project</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

        <link rel="stylesheet" href="build/site.css">
        <script src="build/vendor.js"></script>
        <script src="build/i18n.en.js"></script>
        {% if lang and lang != 'en' %}
        <script src="build/i18n.{{lang}}.js"></script>
        {% endif %}
    </head>
    <body ng-app="tcp" ng-strict-di ng-cloak tcp-state>
        <div tcp-topmost></div>
        <div ng-view></div>
        <feedback class="logged-in-only"></feedback>
        <footer class="site-content"></footer>

        {% if err %}
        <script>
        window.ERRORED = true;
        </script>
        {% endif %}

        {% if debugging %}
        <script>window.DEBUGGING = true;</script>
        <script src="node_modules/ng-stats/dist/ng-stats.min.js"></script>
        <script src="src/client/initializers/perf-stats.js"></script>
        {% endif %}

        <script src="build/bundle.js"></script>

        {% if not debugging %}
        <script src="build/client.js"></script>
        {% else %}
        <script src="src/client/initializers/rollbar-config.js"></script>
        <script src="src/client/initializers/scroll-offset-class.js"></script>
        <script src="src/client/elements/anchored.js"></script>
        <script src="src/client/elements/collapsable.js"></script>
        <script src="src/client/elements/pills.js"></script>
        <script src="src/client/elements/chart.js"></script>
        <script src="src/client/elements/options.js"></script>
        <script src="src/client/elements/options-item.js"></script>
        <script src="src/client/elements/popover.js"></script>
        <script src="src/client/elements/popover-item.js"></script>
        <script src="src/client/elements/avatar.js"></script>
        <script src="src/client/elements/snav.js"></script>
        <script src="src/client/elements/snav-item.js"></script>
        <script src="src/client/elements/message.js"></script>
        <script src="src/client/elements/indicator.js"></script>
        <script src="src/client/elements/key.js"></script>
        <script src="src/client/elements/tag.js"></script>
        <script src="src/client/elements/tags.js"></script>
        <script src="src/client/elements/i18n.js"></script>
        <script src="src/client/components/user.js"></script>
        <script src="src/client/components/search.js"></script>
        <script src="src/client/components/notifications.js"></script>
        <script src="src/client/components/topmost.js"></script>
        <script src="src/client/components/state.js"></script>
        <script src="src/client/components/company.js"></script>
        <script src="src/client/components/tag-view.js"></script>
        <script src="src/client/components/feedback.js"></script>
        <script src="src/client/components/event.js"></script>
        <script src="src/client/components/source.js"></script>
        <script src="src/client/components/timeline.js"></script>
        <script src="src/client/components/question.js"></script>
        <script src="src/client/components/review.js"></script>
        <script src="src/client/components/reviews.js"></script>
        <script src="src/client/services/Feature.js"></script>
        <script src="src/client/services/Services.js"></script>
        <script src="src/client/services/Navigation.js"></script>
        <script src="src/client/services/Session.js"></script>
        <script src="src/client/vendor/angular/ngFocus.js"></script>
        <script src="src/client/vendor/angular/ngInvisible.js"></script>
        <script src="src/client/vendor/angular/ngDatePicker.js"></script>
        {% endif %}

        {% if debugging %}
        <script src="src/client/components/guide.js"></script>
        <script src="node_modules/rector/rector.js"></script>
        <link rel="stylesheet" href="node_modules/rector/rector.css">
        {% endif %}
    </body>

{% if err && debugging %}
<!--
[{{err.message}}] -> {{err.stack}}
-->
{% endif %}
</html>
