.is-non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.block {
    display: block;
    width: 100%;
}

.full-span {
    width: 100%;
}

.desktop-only {
    display: none;
}

@media (min-width:600px) {
    .desktop-only {
        display: initial;
    }
}
