.is-non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.block {
    display: block;
    width: 100%;
}

.full-span {
    width: 100%;
}

.desktop-only {
    display: none;
}

.header-spacing--top {
    margin-top: 50px;
}

.take-space::after {
    content: '\00a0';
    display: inline-block;
    width: 0;
}

.margin-bottom-large { margin-bottom: var(--spacing-large); }
.margin-bottom-medium { margin-bottom: var(--spacing-medium); }
.margin-bottom-small { margin-bottom: var(--spacing-small); }
.margin-bottom-xlarge { margin-bottom: var(--spacing-xlarge); }
.margin-bottom-xsmall { margin-bottom: var(--spacing-xsmall); }

.margin-left-large { margin-left: var(--spacing-large); }
.margin-left-medium { margin-left: var(--spacing-medium); }
.margin-left-small { margin-left: var(--spacing-small); }
.margin-left-xlarge { margin-left: var(--spacing-xlarge); }
.margin-left-xsmall { margin-left: var(--spacing-xsmall); }

.margin-right-large { margin-right: var(--spacing-large); }
.margin-right-medium { margin-right: var(--spacing-medium); }
.margin-right-small { margin-right: var(--spacing-small); }
.margin-right-xlarge { margin-right: var(--spacing-xlarge); }
.margin-right-xsmall { margin-right: var(--spacing-xsmall); }

.margin-top-large { margin-top: var(--spacing-large); }
.margin-top-medium { margin-top: var(--spacing-medium); }
.margin-top-small { margin-top: var(--spacing-small); }
.margin-top-xlarge { margin-top: var(--spacing-xlarge); }
.margin-top-xsmall { margin-top: var(--spacing-xsmall); }

.screen-small-only {
    display: initial;
}

@media (min-width:600px) {
    .screen-small-only {
        display: none;
    }

    .desktop-only {
        display: initial;
    }
}
