@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body,
body * {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-normal);
}

p,
.copy {
    font-size: var(--font-size-normal);
    font-weight: 300;
    line-height: var(--font-height-normal);
}

.copy--large {
    font-size: 30px;
    line-height: 40px;
}

p {
    margin-top: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--font-height-h1);
}

h2 {
    font-size: 21px;
    line-height: 23px;
}

h3 {
    font-size: 17px;
    line-height: 19px;
}

h4 {
    font-size: 12px;
    line-height: 14px;
}

a,
a:visited {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a * {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.title,
.title a {
    color: #313131;
}

.subtitle {
    color: gray;
    font-weight: 500;
}
