:root {
    --font-height-normal: 18px;
    --font-size-normal: 16px;
    --font-size-small: 13px;

    --color-bad: rgb(232, 38, 59);
    --color-good: rgb(73, 152, 138);
    --color-link: rgb(45, 130, 176);

    --color-separator: rgb(236, 236, 236);

    --color-std-background-color: white;
    --color-std-border-color: #DCDCDC;
    --color-std-hover-background-color: #F7F7F7;
    --color-std-shadow-color: #BFBFBF;
    --color-std-text-color: #353535;

    --color-error-background-color: #FFE0E0;
    --color-error-border-color: #B33838;
    --color-error-text-color: #B33838;

    --color-warn-background-color: #FDFFCC;
    --color-warn-border-color: #E2CD32;
    --color-warn-text-color: #525252;

    --color-info-background-color: #D6DFFF;
    --color-info-border-color: #8CA5FF;
    --color-info-text-color: #191919;

    --color-success-background-color: #DBFFE2;
    --color-success-border-color: #59D671;
    --color-success-text-color: #191919;

    --body-padding-top: 10px;
    --content-horizontal-padding: 20px;
    --content-max-width: 800px;
    --inline-element-gutter: 6px;
}
