<section>
    <h1>button</h1>

    <div markup>
        <button>+</button>
        <button>follow</button>
    </div>
</section>

<section>
    <h1>key</h1>

    <div markup>
        <key label="good stuff" class="good"></key>
        <key label="bad stuff" class="bad"></key>
    </div>
</section>

<section>
    <h1>tag</h1>

    <div guide-controls>
        <button ng-click="addTag()">add tag</button>
    </div>

    <div markup>
        <tag ng-repeat="tag in tags" label="{{::tag.label}}"></tag>
    </div>
</section>

<section>
    <h1>indicator</h1>

    <div guide-controls>
        <button ng-click="incrementCounter()">increment counter</button>
    </div>

    <div markup>
        <indicator type="counter" value="counter"></indicator>
        <indicator type="highlights" value="counter"></indicator>
        <indicator type="useful" value="counter"></indicator>
    </div>
</section>
