[markup] {
    border-radius: 2px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 50px;
    overflow: hidden;
    padding: 15px 10px 0 10px;
}

[markup] pre {
    background-color: rgb(249, 249, 249);
    border: none;
    font-family: monospace;
    line-height: 16px;
    margin: 15px -10px 0 -10px;
    padding: 10px;
}

[markup][output] {
    padding-top: 0;
    margin-top: -51px;
}

[markup][output] pre {
    margin-top: 0;
}

[guide-controls] {
    margin-bottom: 20px;
}

h1[guide-section] {
    margin: 20px 0;
}

toc {
    position: fixed;
    display: none;
}

@media (min-width:1230px) {
    toc {
        display: inline-block;
    }
}

toc .toc--items {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: calc(100vh - 70px);
    left: -220px;
    overflow: auto;
    position: absolute;
    top: 5px;
    width: 200px;
}

toc .toc--item,
toc .toc--items {
    border-color: rgb(234, 234, 234);
}

toc .toc--item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    transition: all .3s;
}

toc .toc--item:hover {
    background-color: whitesmoke;
}

toc .toc--item:active,
toc .toc--item:focus {
    background-color: whitesmoke;
    outline: 0;
}
