<section>
    <h1 guide-section>key</h1>

    <div markup>
        <key label="good stuff" class="good"></key>
        <key label="bad stuff" class="bad"></key>
    </div>
</section>

<section>
    <h1 guide-section>tag</h1>

    <div guide-controls>
        <button ng-click="addTag()">add tag</button>
    </div>

    <div markup>
        <tags>
            <tag class="bad" label="illegal fishing"></tag>
            <tag class="good" label="enviroenvironmental awareness"></tag>
            <tag ng-repeat="tag in tags" class="{{::tag.type}}" label="{{::tag.label}}"></tag>
        </tags>
    </div>
</section>

<section>
    <h1 guide-section>indicator</h1>

    <div guide-controls>
        <button ng-click="incrementCounter()">increment counter</button>
    </div>

    <div markup>
        <indicator type="counter" value="counter"></indicator>
        <indicator type="highlights" value="counter"></indicator>
        <indicator type="useful" value="counter"></indicator>
    </div>
</section>

<section>
    <h1 guide-section>button</h1>

    <div markup>
        <buttons>
            <button>follow</button>
            <button>+</button>
        </buttons>
    </div>
</section>

<section>
    <h1 guide-section>type</h1>

    <div markup>
        <a href="">a link</a>
    </div>

    <div markup>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
    </div>

    <div markup>
        <p>Habitant morbi tristique senectus et netus et malesuada fames
            ac turpis egestas. Duis ultricies urna. Etiam enim urna, pharetra
            suscipit, varius et, congue quis, odio. Donec lobortis, elit
            bibendum euismod faucibus, velit nibh egestas libero, vitae
            pellentesque elit augue ut massa.</p>

        <p>Nulla consequat erat at massa. Vivamus id mi. Morbi purus enim,
            dapibus a, facilisis non, tincidunt at, enim. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Duis imperdiet eleifend arcu.  Cras magna ligula, consequat at,
            tempor non, posuere nec, libero. Vestibulum vel ipsum. Praesent
            congue justo et nunc. Vestibulum nec felis vitae nisl pharetra
            sollicitudin.  Quisque.</p>
    </div>
</section>

