<!-- <rector&#45;toc></rector&#45;toc> -->

<div class="site-content">
    <h1>message</h1>
    <rector-markup>
        <message type="error">this is an error message</message>
        <message type="warn">this is a warning message</message>
        <message type="info">this is an information message</message>
        <message type="success">this is a success message</message>
    </rector-markup>

    <h1>highlighter</h1>
    <p>select to highlight and click to remove. number of highlights: <b>{{highlight.count}}</b></p>
    <rector-markup>
        <div id="guide__highlighter"
            highlighter="highlights"
            highlighter-api="highlight.api"
            highlighter-on-highlight="onHighlight({highlight: highlight})"
            highlighter-on-highlight-click="onHighlightClick({highlight: highlight})"
        >
            <p>Sed nibh. Nam non turpis. Maecenas fermentum nibh in est.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.</p>

            <p>Duis sagittis fermentum nunc. Nullam elementum erat. Quisque
                dapibus, augue nec dapibus bibendum, velit enim scelerisque
                sem, accumsan suscipit lectus odio ac justo. Fusce in felis a
                enim rhoncus placerat. Cras nec eros et mi egestas facilisis.
                In hendrerit tincidunt neque. Maecenas tellus. Fusce
                sollicitudin molestie dui. Sed magna orci, accumsan nec,
                viverra non, pharetra id, dui.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam
                placerat mi vitae felis. In porta, quam sit amet sodales
                elementum, elit dolor aliquam.</p>
        </div>
    </rector-markup>

    <h1>popover</h1>
    <rector-markup>
        <popover>
            <popover-item>Option #1</popover-item>
            <popover-item>Option #2</popover-item>
            <popover-item>Option #3</popover-item>
            <popover-item>Option #4</popover-item>
            <popover-item>Option #5</popover-item>
        </popover>
    </rector-markup>

    <h1>anchor</h1>
    <rector-markup>
        <button data-guide-menu-button ng-click="toggleMenu()">toggle menu</button>

        <popover
            anchored
            anchored-element="'[data-guide-menu-button]'"
            anchored-show="menu.show"
            anchored-placement="bottom"
            anchored-top-offset="10"
        >
            <popover-item>Option #1</popover-item>
            <popover-item>Option #2</popover-item>
        </popover>
    </rector-markup>

    <h1>avatar</h1>
    <rector-markup class="guide-block-avatars">
        <avatar name="Albert Einstein" title="Theoretical Physicist" image="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg"></avatar>

        <avatar name="Albert Einstein" image="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg"></avatar>

        <avatar name="Albert Einstein"></avatar>

        <avatar title="Theoretical Physicist"></avatar>
    </rector-markup>
    <rector-markup>
        <avatars>
            <avatar name="Albert Einstein" title="Theoretical Physicist" image="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg"></avatar>

            <avatar name="Albert Einstein" image="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg"></avatar>

            <avatar name="Albert Einstein"></avatar>

            <avatar title="Theoretical Physicist"></avatar>
        </avatars>
    </rector-markup>

    <h1>key</h1>
    <rector-markup>
        <key label="good stuff" class="good"></key>
        <key label="bad stuff" class="bad"></key>
    </rector-markup>

    <h1>tag</h1>
    <div>
        <button ng-click="addTag()">add tag</button>
    </div>
    <rector-markup>
        <tags>
            <tag class="bad" label="illegal fishing">
                <indicator type="counter" value="54"></indicator>
            </tag>
            <tag class="good" label="enviroenvironmental awareness">
                <indicator type="counter" value="12"></indicator>
            </tag>

            <tag ng-repeat="tag in tags" ng-class="[tag.type]" label="{{::tag.label}}">
            </tag>

            <tag ng-repeat="tag in tags" ng-class="[tag.type]" label="{{::tag.label}}">
                <indicator type="counter" value="::tag.counter"></indicator>
            </tag>
        </tags>
    </rector-markup>

    <h1>indicator</h1>
    <div>
        <button ng-click="incrementCounter()">increment counter</button>
    </div>
    <rector-markup>
        <indicator type="counter" value="counter"></indicator>
        <indicator type="highlights" value="counter"></indicator>
        <indicator type="useful" value="counter"></indicator>
    </rector-markup>

    <h1>button</h1>
    <rector-markup>
        <buttons>
            <button>follow</button>
            <button class="icon-plus"></button>
            <button class="icon-menu"></button>
            <button class="icon-newspaper"></button>
            <button class="icon-heart"></button>
            <button class="icon-clock"></button>
        </buttons>
    </rector-markup>

    <h1>type</h1>
    <rector-markup>
        <a href="#">a link</a>
    </rector-markup>
    <rector-markup>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
    </rector-markup>
    <rector-markup>
        <p>Habitant morbi tristique senectus et netus et malesuada fames
            ac turpis egestas. Duis ultricies urna. Etiam enim urna, pharetra
            suscipit, varius et, congue quis, odio. Donec lobortis, elit
            bibendum euismod faucibus, velit nibh egestas libero, vitae
            pellentesque elit augue ut massa.</p>

        <p>Nulla consequat erat at massa. Vivamus id mi. Morbi purus enim,
            dapibus a, facilisis non, tincidunt at, enim. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Duis imperdiet eleifend arcu.  Cras magna ligula, consequat at,
            tempor non, posuere nec, libero. Vestibulum vel ipsum. Praesent
            congue justo et nunc. Vestibulum nec felis vitae nisl pharetra
            sollicitudin.  Quisque.</p>
    </rector-markup>

    <h1>articles</h1>
    <rector-markup>
        <entry ng-repeat="article in articles"
            model="article"
            type="article"
            summary="true">
        </entry>
    </rector-markup>
    <rector-markup rector-markup-continuation
        rector-lang="javascript"
        rector-eval="articles | json">
    </rector-markup>

    <h1>icons</h1>
    <div class="guide-large-icons">
        <div ng-repeat="icon in icons">
            <span class="icon-{{icon.properties.name}}"></span>
            <span class="icons__label">.icon-{{icon.properties.name}}</span>
        </div>
    </div>
</div>
