button {
    background-color: rgb(51, 185, 230);
    border-radius: 17px;
    border: 1px solid rgb(136, 213, 239);
    color: white;
    font-size: 12px;
    min-height: 30px;
    min-width: 30px;
    padding: 7px 12px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}

button[character]::before {
    content: attr(character);
    font-size: 30px;
    position: absolute;
    top: -3px;
    left: 7px;
    text-align: center;
}
