:root {
    --inline-element-gutter: 6px;
}

button {
    background-color: #F7F7F7;
    border-color: #DCDCDC;
    color: #353535;
}

button,
tag {
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    padding: 11px 17px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

button.icon-plus {
    font-size: 27px;
    padding: 7px 8px 4px 8px;
}

button.icon-plus::before {
    content: "+";
    left: .5px;
    position: relative;
    top: -5px;
}

button.icon-newspaper,
button.icon-clock,
button.icon-heart,
button.icon-menu {
    font-size: 22px;
    padding: 8px;
}

button.icon-newspaper::before,
button.icon-clock::before,
button.icon-heart::before,
button.icon-menu::before {
    left: .5px;
    position: relative;
    top: -1px;
}
