button {
    background-color: #F7F7F7;
    border-color: var(--color-std-border-color);
    color: var(--color-std-text-color);
}

button * {
    vertical-align: middle;
}

button,
.tag-elem {
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    padding: 10px 17px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

button.icon-plus,
button.icon-newspaper,
button.icon-clock,
button.icon-heart,
button.icon-menu {
    font-size: 22px;
    padding: 8px;
}

button.icon-plus::before,
button.icon-newspaper::before,
button.icon-clock::before,
button.icon-heart::before,
button.icon-menu::before {
    left: .5px;
    position: relative;
    top: -1px;
}

button.button--social-linkedin {
    background-color: #0077B5;
    color: white;
}

button.button--social-linkedin img {
    height: 19px;
    width: 20px;
}
