:root {
    --inline-element-gutter: 6px;
    --inline-element-horizontal-padding: 11px;
    --inline-element-vertical-padding: 6px;
}

button {
    background-color: rgb(51, 185, 230);
    border-color: rgb(39, 164, 207);
    color: white;
}

button.text {
    background-color: white;
    border-color: white;
    color: black;
}

button.inverted {
    background-color: white;
    border-color: white;
    color: rgb(51, 185, 230);
}

button.inlined {
    font-size: 29px;
    height: 32px;
    padding: 0;
}

/* see .is-clickable */
button:active {
    transform: scale(.985);
}

button,
tag {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    padding: var(--inline-element-vertical-padding) var(--inline-element-horizontal-padding);
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

button[class^=icon-] {
    padding: calc(var(--inline-element-vertical-padding) + 1) calc(var(--inline-element-vertical-padding) + 1) calc(var(--inline-element-vertical-padding) + 2) calc(var(--inline-element-vertical-padding) + 2);
    border-radius: 50%;
}
