* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body, [ng-view] {
    height: 100%;
    cursor: default;
}

header {
    padding: 20px 0;
    right: 60px;
    text-align: right;
    top: 0;
}

separator {
    display: block;
}

[ng-view] {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 60px;
    position: relative;
}

text-logo {
    display: inline-block;
    font-size: 5rem;
    font-family: Times;
    font-weight: normal;
}

.search {
    border: 0;
    border-bottom: 2px solid black;
    font-size: 2rem;
    outline: 0;
    padding: 3px;
    width: 100%;
}

.link {
    background: transparent;
    border: 0;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.link:not(:first-child) {
    margin-left: 20px;
}

.search-section {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.search-section separator {
    height: 4rem;
}
