* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body, div.main, [ng-view] {
    height: 100%;
    cursor: default;
}

div.main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 60px;
    position: relative;
}

header {
    padding: 20px 0;
    right: 60px;
    text-align: right;
    top: 0;
}

tcp-loading svg {
    height: 50px;
    position: absolute;
    width: 100%;
}
