* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body, div.main, [ng-view] {
    height: 100%;
    cursor: default;
}

div.main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 60px;
    position: relative;
}

header {
    padding: 20px 0;
    right: 60px;
    text-align: right;
    top: 0;
}

input {
    font-weight: 100;
}

::-webkit-input-placeholder {
    color: rgb(194, 194, 194);
    font-style: italic;
    font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgb(194, 194, 194);
    font-style: italic;
    font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(194, 194, 194);
    font-style: italic;
    font-weight: 100;
}

:-ms-input-placeholder {
    color: rgb(194, 194, 194);
    font-style: italic;
    font-weight: 100;
}
