.company-form img {
    display: none;
}

@media (min-width:600px) {
    .company-form img {
        display: initial;
        float: right;
        width: 350px;
        margin: 0 0 30px 30px;
    }
}
