.separator {
    height: 1rem;
}

.separator-2 {
    height: 2rem;
}

.separator-5 {
    height: 5rem;
}

.pre {
    white-space: pre-line;
}

.link {
    background: transparent;
    border: 0;
    color: black;
    font-size: .8rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.link[ng-if],
.link[ng-show] {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* .link:not(:first-of-type) { */
.link:not(:first-child) {
    margin-left: 20px;
}

/* .link:not(:first-of-type)::before { */
.link:not(:first-child)::before {
    content: "";
    border-right: 1px solid rgb(199, 199, 199);
    position: relative;
    left: -12px;
}

.arrow {
    position: relative;
    background: #fff;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px rgb(199, 199, 199);
}

.arrow-down::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -10px;
    bottom: -19px;
    left: 50%;
    box-sizing: border-box;
    border: 10px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgb(199, 199, 199);
}

.highlight-link {
    position: relative;
}

.highlight-link:hover::before {
    background-color: rgb(110, 132, 245);
    content: "";
    height: 100%;
    left: -11px;
    position: absolute;
    width: 3px;
}
