input,
textarea {
    transition: padding .3s, border .3s;
    border: 1px solid rgb(205, 205, 205);
    font-weight: 100;
    padding: 3px;
    resize: none;
}

form[tcp-inputs]:not(.tcp-inputs-editing) input,
form[tcp-inputs]:not(.tcp-inputs-editing) textarea {
    border-color: transparent;
    padding-left: 0;
}

form[tcp-inputs] input,
form[tcp-inputs] textarea {
    display: block;
    width: 100%;
}

form[tcp-inputs] button + *,
form[tcp-inputs] input + *,
form[tcp-inputs] textarea + * {
    margin-top: 20px;
}

form[tcp-inputs] textarea {
    height: 200px;
}

::-webkit-input-placeholder {
    color: rgb(194, 194, 194);
    font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgb(194, 194, 194);
    font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(194, 194, 194);
    font-weight: 100;
}

:-ms-input-placeholder {
    color: rgb(194, 194, 194);
    font-weight: 100;
}
