input,
textarea {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-weight: 100;
    outline: 0;
    padding: 3px;
    resize: none;
}

input {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

form[tcp-inputs]:not(.tcp-inputs-editing) input,
form[tcp-inputs]:not(.tcp-inputs-editing) textarea {
    border-color: transparent;
}

form[tcp-inputs] input,
form[tcp-inputs] textarea {
    display: block;
    width: 100%;
}

form[tcp-inputs] input:not(:first-of-type),
form[tcp-inputs] textarea:not(:first-of-type) {
    margin-top: 20px;
}

form[tcp-inputs] textarea {
    height: 200px;
}

::-webkit-input-placeholder {
    color: rgb(194, 194, 194);
    font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgb(194, 194, 194);
    font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(194, 194, 194);
    font-weight: 100;
}

:-ms-input-placeholder {
    color: rgb(194, 194, 194);
    font-weight: 100;
}
