.post {
    transition: padding .3s;
}

.post div {
    white-space: pre-line;
}

.post .highlight {
    background-color: rgb(255, 254, 196);
}

::selection {
    background: rgb(255, 254, 196);
    text-shadow: none;
}

.selection-editor {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

@media (min-width:600px) {
    .post {
        padding: 30px 0 60px 0;
    }
}
