.post {
    transition: padding .3s;
    padding-bottom: 20px;
}

.post div {
    outline: 0;
    white-space: pre-line;
}

.post .highlight {
    background-color: rgb(255, 254, 196);
    cursor: pointer;
}

::selection {
    background: rgb(255, 254, 196);
    text-shadow: none;
}

.selection-editor {
    background-color: white;
    padding: 6px;
    position: absolute;
    z-index: 1;
}

.tags {
    height: 50px;
}

.tag {
    border: 1px solid red;
    background-color: red;
    display: inline-block;
    padding: 1px 4px;
    font-size: 11px;
    color: white;
    border-radius: 2px;
    margin: 0 2px 2px 0;
    text-transform: lowercase;
}

@media (min-width:600px) {
    .post {
        padding: 30px 0 60px 0;
    }
}
