.search {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    transition: transform .4s;
}

.search input {
    outline: 0;
    font-size: 2rem;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
}

.search separator {
    height: 2rem;
    transition: height .4s;
}

.search text-logo {
    transition: opacity .4s;
}

.search.list-results {
    transform: translateY(-140%);
}

.search.list-results text-logo {
    opacity: 0;
}

.search.list-results separator {
    height: 0;
}

@media (min-width:600px) {
    .search separator {
        height: 4rem;
    }

    .search.list-results {
        transform: translateY(-230%);
    }
}
