input:not([type]),
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="time"],
input[type="datetime"] {
    padding: 3px 7px;
    transition: padding .1s;
    word-break: normal;
    font-size: var(--font-size-normal);
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus {
    padding-left: 14px;
}
