textarea,
input:not([type="checkbox"]),
input:not([type="radio"]) {
    border: 1px solid var(--color-std-border-color);
    cursor: text;
    font-size: var(--font-size-normal);
    padding: 3px 7px;
    text-align: left;
    outline: 0;
    transition: padding .1s;
    word-break: normal;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

textarea:focus,
input:not([type="checkbox"]):focus,
input:not([type="radio"]):focus {
    padding-left: 14px;
}

.search,
input.search,
input.search:focus {
    background-image: url(/assets/images/magnifying-class.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 16px;
    height: var(--computed-button-height);
}

input.search,
input.search:focus {
    border-color: var(--color-std-border-color);
    border-radius: 100px;
    padding-left: var(--computed-button-height);
    width: 100%;
}

form h1,
form h2,
form h3,
form h4,
form h5,
form h6,
form label {
    text-transform: uppercase;
}

.form--listed label {
    display: block;
    font-size: var(--font-size-small);
    padding: 5px 0;
}

.form--listed label:not(:first-child) {
    margin-top: var(--spacing-xsmall);
}

.form--listed input,
.form--listed textarea {
    min-width: 100%;
}
