<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="browser-ie7 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="browser-ie8 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="browser-ie9 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="browser-modern"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>consumr project</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

        <link rel="stylesheet" href="build/site.css">
        <script src="build/vendor.js"></script>
        <script src="build/i18n.js"></script>
        <script src="build/i18n.en.js"></script>
        {% if lang and lang != 'en' %}
        <script src="build/i18n.{{lang}}.js"></script>
        {% endif %}
    </head>
    <body ng-app="tcp" ng-strict-di ng-cloak>
        <div ng-controller="AdminController">
            <div ng-include="'app/modules/base/login.html'"></div>

            <header class="site-content--span">
                <img class="tcp-logo" alt="" ng-click="nav.home()"
                    src="assets/images/brand/consumrproject-black-stamp.png" />

                <button ng-if="!session.logged_in" ng-click="login()"
                    i18n="admin/sing_in_or_up" class="right animated fadeIn"></button>

                <avatar
                    ng-if="session.logged_in"
                    class="right no-outline"
                    ng-click="actions.show = true"
                    email="{% raw %}{{session.email}}{% endraw %}"
                    data-main-user-avatar
                >
                    <indicator
                        class="animated zoomIn"
                        ng-if="session.message_count"
                        type="counter"
                        value="session.message_count"
                    ></indicator>
                </avatar>

                <button class="search-button right margin-right-small animated fadeIn screen-small-only"
                    ng-click="nav.search()"></button>

                <search class="desktop-only right margin-right-small"
                    form="true" ng-if="!nav.search.included"></search>
            </header>

            <popover
                anchored
                anchored-element="{% raw %}'[data-main-user-avatar]'{% endraw %}"
                anchored-show="actions.show"
                anchored-placement="bottom-right"
                anchored-top-offset="10"
                anchored-arrow="true"
                anchored-auto-hide="true"
            >
                <popover-item ng-click="nav.company(); actions.show = false;" i18n="admin/add_company"></popover-item>
                <popover-separator></popover-separator>
                <popover-item ng-click="nav.profile(); actions.show = false;" i18n="pages/profile"></popover-item>
                <popover-item ng-click="nav.notifications(); actions.show = false;" i18n="admin/see_notifications"></popover-item>
                <popover-item ng-click="logout()" i18n="admin/logout"></popover-item>
            </popover>
        </div>

        <div ng-view></div>

        <footer class="site-content">
        </footer>

        {% if err %}
        <script>
        window.ERRORED = true;
        </script>
        {% endif %}

        {% if debugging %}
        <script>window.DEBUGGING = true;</script>
        <script src="node_modules/ng-stats/dist/ng-stats.min.js"></script>
        <script src="assets/scripts/perf-stats.js"></script>
        {% endif %}

        <script src="build/bundle.js"></script>

        {% if not debugging %}
        <script src="build/app.js"></script>
        {% else %}
        <script src="assets/scripts/rollbar-config.js"></script>
        <script src="assets/scripts/scroll-offset-class.js"></script>
        <script src="app/elements/anchored.js"></script>
        <script src="app/elements/collapsable.js"></script>
        <script src="app/elements/pills.js"></script>
        <script src="app/elements/popover.js"></script>
        <script src="app/elements/popover-item.js"></script>
        <script src="app/elements/avatar.js"></script>
        <script src="app/elements/message.js"></script>
        <script src="app/elements/indicator.js"></script>
        <script src="app/elements/key.js"></script>
        <script src="app/elements/tag.js"></script>
        <script src="app/elements/tags.js"></script>
        <script src="app/elements/i18n.js"></script>
        <script src="app/elements/followed-by.js"></script>
        <script src="app/components/user.js"></script>
        <script src="app/components/search.js"></script>
        <script src="app/components/notifications.js"></script>
        <script src="app/components/company.js"></script>
        <script src="app/components/event.js"></script>
        <script src="app/components/events.js"></script>
        <script src="app/services/ServicesService.js"></script>
        <script src="app/services/NavigationService.js"></script>
        <script src="app/services/SessionService.js"></script>
        <script src="app/modules/base/AdminController.js"></script>
        <script src="app/vendor/angular/ngFocus.js"></script>
        <script src="app/vendor/angular/ngInvisible.js"></script>
        <script src="app/vendor/angular/ngDatePicker.js"></script>
        {% endif %}

        {% if debugging %}
        <script src="app/modules/guide/GuideController.js"></script>
        <script src="node_modules/rector/rector.js"></script>
        <link rel="stylesheet" href="node_modules/rector/rector.css">
        {% endif %}
    </body>

{% if err && debugging %}
<!--
[{{err.message}}] -> {{err.stack}}
-->
{% endif %}
</html>
