<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="browser-ie7 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="browser-ie8 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="browser-ie9 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="browser-modern"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>consumr project</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

        <link rel="stylesheet" href="build/site.css">
        <script src="build/vendor.js"></script>
        <script src="build/i18n.js"></script>
        <script src="build/en.js"></script>
    </head>
    <body ng-app="tcp" ng-controller="navigationController" ng-strict-di>
        <div ng-controller="adminController" ng-cloak>
            <div ng-include="'app/modules/home/login.html'"></div>

            <header class="site-content">
                <br>

                <img class="tcp-logo" src="public/images/consumrproject-text.png"
                    ng-click="nav.home()" />

                <button ng-if="!session.loggedIn" ng-click="login()"
                    i18n="admin/singInUp" class="right animated fadeIn"></button>

                <avatar ng-if="session.loggedIn" class="right" ng-click="actions.show = true"
                    image="{% raw %}{{session.userAvatarUrl}}{% endraw %}" data-main-user-avatar></avatar>

                <button class="search right margin-right-small animated fadeIn screen-small-only"
                    ng-click="nav.search()"></button>

                <div class="desktop-only right margin-right-small"
                    ng-if="!nav.search.included"
                    ng-include="'/app/modules/home/search.html'"></div>

                <br>
                <br>
            </header>

            <popover
                anchored
                anchored-element="{% raw %}'[data-main-user-avatar]'{% endraw %}"
                anchored-show="actions.show"
                anchored-placement="bottom-right"
                anchored-top-offset="10"
                anchored-auto-hide="true"
            >
                <popover-item ng-click="nav.company(); actions.show = false;" i18n="admin/addCompany"></popover-item>
                <popover-separator></popover-separator>
                <popover-item ng-click="nav.profile(); actions.show = false;" i18n="pages/profile"></popover-item>
                <popover-item ng-click="logout()" i18n="admin/logout"></popover-item>
            </popover>
        </div>

        <div ng-view></div>

        <footer class="site-content">
        </footer>

        {% if debugging %}
        <script src="node_modules/ng-stats/dist/ng-stats.min.js"></script>
        <script>
        DEBUGGING = true;

        $(function () {
            showAngularStats({
                position: 'bottomright',
                digestTimeThreshold: 16,
                autoload: true,
                logDigest: true,
                logWatches: true
            });
        });
        </script>
        {% endif %}

        <script src="build/app.js"></script>
        <script src="app/elements/anchored/anchored.js"></script>
        <script src="app/elements/popover/popover.js"></script>
        <script src="app/elements/popover/popover-item.js"></script>
        <script src="app/elements/avatar/avatar.js"></script>
        <script src="app/elements/message/message.js"></script>
        <script src="app/elements/indicator/indicator.js"></script>
        <script src="app/elements/key/key.js"></script>
        <script src="app/elements/tag/tag.js"></script>
        <script src="app/elements/tag/tags.js"></script>
        <script src="app/elements/i18n/i18n.js"></script>
        <script src="app/elements/timeline/timeline.js"></script>
        <script src="app/elements/entry/entry.js"></script>
        <script src="app/elements/entry/highlighter.js"></script>

        <script src="app/modules/admin/adminController.js"></script>
        <script src="app/modules/admin/navigationController.js"></script>
        <script src="app/modules/admin/NavigationService.js"></script>
        <script src="app/modules/home/homeController.js"></script>
        <script src="app/modules/search/searchController.js"></script>
        <script src="app/modules/entry/entryController.js"></script>
        <script src="app/modules/company/companyController.js"></script>
        <script src="app/modules/user/userController.js"></script>
        <script src="app/vendor/angular/ngFocus.js"></script>

        {% if debugging %}
        <script src="node_modules/Rainbow/js/rainbow.min.js"></script>
        <script src="node_modules/Rainbow/js/language/generic.js"></script>
        <script src="node_modules/Rainbow/js/language/javascript.js"></script>
        <script src="node_modules/Rainbow/js/language/html.js"></script>
        <link rel="stylesheet" href="node_modules/Rainbow/themes/github.css">

        <script src="app/modules/dev/guideController.js"></script>
        <link rel="stylesheet" href="app/elements/guide.css">

        <script src="node_modules/rector/rector.js"></script>
        <link rel="stylesheet" href="node_modules/rector/rector.css">
        {% endif %}
    </body>
</html>
