<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="browser-ie7 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="browser-ie8 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="browser-ie9 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="browser-modern"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>the consumer project</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

        <link rel="stylesheet" href="static/site.css">
        <script src="static/vendor.js"></script>
        <script src="static/en.js"></script>
    </head>
    <body ng-app="tcp" ng-strict-di>
        <div ng-controller="adminController">
            <div ng-include="'app/modules/admin/login.html'"></div>
            <header>
                <button ng-click="loginPopover.showLoginScreen=true" class="left inverted inlined icon-menu"></button>
                <span class="tcp-logo">the consumer project</span>
                <button class="icon-plus right"></button>

                <popover
                    anchored
                    anchored-element="'header .icon-menu'"
                    anchored-show="loginPopover.showLoginScreen"
                    anchored-placement="bottom"
                    anchored-top-offset="10"
                    anchored-auto-hide="true"
                >
                    <popover-item ng-if="!state.loggedIn" ng-click="login()">Login</popover-item>
                    <popover-item ng-if="state.loggedIn" ng-click="profile()">Profile</popover-item>
                    <popover-item ng-if="state.loggedIn" ng-click="logout()">Logout</popover-item>
                </popover>
            </header>
        </div>

        <div ng-view></div>

        <footer></footer>

        {% if debugging %}
        <script src="node_modules/ng-stats/dist/ng-stats.min.js"></script>
        <script>
        DEBUGGING = true;

        $(function () {
            showAngularStats({
                position: 'bottomright',
                digestTimeThreshold: 16,
                autoload: true,
                logDigest: true,
                logWatches: true
            });
        });
        </script>
        {% endif %}

        <!-- standard services -->
        <script src="app/services/api.js"></script>
        <script src="app/services/extract.js"></script>
        <script src="app/services/wikipedia.js"></script>
        <script src="app/services/highlighter.js"></script>
        <script src="app/services/utils.js"></script>
        <script src="app/services/entity.js"></script>

        <script src="app/modules/base/main.js"></script>
        <script src="app/modules/base/routes.js"></script>

        <!-- angular services -->
        <script src="app/services/auth.js"></script>
        <script src="app/services/logger.js"></script>

        <script src="app/elements/anchored/anchored.js"></script>
        <script src="app/elements/popover/popover.js"></script>
        <script src="app/elements/popover/popover-item.js"></script>
        <script src="app/elements/avatar/avatar.js"></script>
        <script src="app/elements/message/message.js"></script>
        <script src="app/elements/indicator/indicator.js"></script>
        <script src="app/elements/key/key.js"></script>
        <script src="app/elements/tag/tag.js"></script>
        <script src="app/elements/tag/tags.js"></script>
        <script src="app/elements/entry/entry.js"></script>
        <script src="app/elements/entry/highlighter.js"></script>

        <script src="app/modules/admin/adminController.js"></script>
        <script src="app/modules/home/homeController.js"></script>
        <script src="app/modules/entry/entryController.js"></script>
        <script src="app/modules/company/companyController.js"></script>
        <script src="app/modules/user/userController.js"></script>

        {% if debugging %}
        <script src="node_modules/Rainbow/js/rainbow.min.js"></script>
        <script src="node_modules/Rainbow/js/language/generic.js"></script>
        <script src="node_modules/Rainbow/js/language/javascript.js"></script>
        <script src="node_modules/Rainbow/js/language/html.js"></script>
        <link rel="stylesheet" href="node_modules/Rainbow/themes/github.css">

        <script src="app/modules/dev/guideController.js"></script>
        <link rel="stylesheet" href="app/elements/guide.css">

        <script src="node_modules/rector/rector.js"></script>
        <link rel="stylesheet" href="node_modules/rector/rector.css">
        {% endif %}
    </body>
</html>
