:root {
    --font-height-normal: 16px;
    --font-size-normal: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 35px;
    line-height: 37px;
}

h2 {
    font-size: 21px;
    line-height: 23px;
}

h3 {
    font-size: 17px;
    line-height: 19px;
}

h4 {
    font-size: 12px;
    line-height: 14px;
}
