.entry.entry--article.entry--summary {
    display: block;
    margin: 20px 0;
    padding-top: 10px;
}

.entry.entry--article.entry--summary:first-of-type {
    padding-top: 0;
    margin-top: 0;
}

.entry.entry--article + .entry.entry--article {
    border-top: 1px solid var(--color-separator);
}

.entry.entry--article.entry--summary indicator {
    float: right;
    position: relative;
    right: 10px;
    top: -5px;
}

.highlight--inline-item {
    background: rgb(255, 254, 196);
    text-shadow: none;
    cursor: pointer;
}

.entry img,
.entry iframe {
    display: block;
    margin: 20px auto;
    max-width: 1100px;
    text-align: center;
    width: 100vw;
}

.entry.entry--rich iframe {
    height: 70vh;
}

.entry.entry--video iframe {
    height: 50vw;
    max-height: 550px;
}

.entry__sub-images img {
    display: inline;
    margin: 5px;
    vertical-align: top;
    width: 30%;
}

.entry__sub-images {
    display: none;
}

@media (min-width:600px) {
    .entry__sub-images {
        display: block;
    }
}
