<html><body>
<div style="<%- styles.container %>">
    <div style="<%- styles.content_padded %>;<%- styles.bottom_separator %>">
        <table style="<%- styles.table_reset %>">
            <tr style="<%- styles.table_reset %>">
                <td style="<%- styles.table_reset %>">
                    <img style="<%- styles.header_logo_circle %>" alt="<%- images.cp_black_square.alt %>" src="<%- images.cp_black_square.src %>" />
                </td>
                <td style="<%- styles.table_reset %>">
                    <img style="<%- styles.header_logo_text %>" alt="<%- images.cp_text.alt %>" src="<%- images.cp_text.src %>" />
                </td>
            </tr>
        </table>
    </div>

    <%= body %>

    <p style="<%- styles.paragraph %>; <%- styles.content_container %>">
    <%= i18n.get('emails/yours') %>
    </p>
</div>
</body>
</html>
