<div class="site-content" ng-init="load(vm.id)">
    <center ng-if="user.id" class="margin-top-large animated fadeIn">
        <avatar class="avatar--block" summary="{{::user.$summary}}"
          title="{{::user.title}}" name="{{::user.name}}"
          image="{{::user.avatar_url}}"></avatar>

        <div class="block">
            <button ng-click="user.$followers_count = user.$followers_count+1"
              class="margin-top-xlarge margin-bottom-xlarge" i18n="admin/follow"></button>
        </div>

        <table class="table--content center-align">
            <tr>
                <th i18n="user/following"></th>
                <th i18n="user/followers"></th>
                <th i18n="user/elsewhere"></th>
            </tr>
            <tr>
                <td>{{::user.$following_count || i18n.get('common/none')}}</td>
                <td>{{user.$followers_count || i18n.get('common/none')}}</td>
                <td>
                    <a ng-if="::user.linkedin_url" href="{{::user.linkedin_url}}" target="_blank">
                        <img src="/assets/images/linkedin.png" style="height: 20px; width: 20px" />
                    </a>
                </td>
            </tr>
        </table>
    </center>
</div>
