<div class="site-content" ng-if="user.guid" class="animated fadeIn">

    <br>
    <br>

    <center>
        <avatar class="avatar--block" title="{{::user.shortSummary}}" name="{{::user.fullName}}" image="{{::user.avatarUrl}}"></avatar>

        <br>
        <br>
        <br>
        <br>

        <button ng-click="user.followersCount=user.followersCount+1" i18n="admin/follow"></button>

        <br>
        <br>
        <br>
        <br>

        <table class="table--content center-align">
            <tr>
                <th i18n="user/following"></th>
                <th i18n="user/followers"></th>
                <th i18n="user/elsewhere"></th>
            </tr>
            <tr>
                <td>{{::user.followingCount || i18n.get('common/none')}}</td>
                <td>{{user.followersCount || i18n.get('common/none')}}</td>
                <td>
                    <a ng-if="::user.linkedinUrl" href="{{::user.linkedinUrl}}" target="_blank">
                        <img src="/assets/images/linkedin.png" style="height: 20px; width: 20px" />
                    </a>
                </td>
            </tr>
        </table>
    </center>
</div>
