avatar {
    background: white;
    display: inline-block;
    white-space: nowrap;
}

avatar:not(.avatar--block) {
    border-radius: 200px;
}

.avatar--medium ~ .avatar--medium {
    margin-top: var(--spacing-medium);
}

.avatar__image_img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    border: 1px solid var(--color-std-border-color);
    box-shadow: 0 0 4px var(--color-std-shadow-color);
    height: var(--avatar-size);
    width: var(--avatar-size);
}

avatar.avatar--block {
    text-align: center;
    white-space: pre;
}

.avatar__name {
    font-weight: bold;
}

.avatar__image_img {
    background-image: url("/assets/images/avatar.svg");
}

.avatar__summary {
    display: none;
}

.avatar__name,
.avatar__title {
    font-family: "Times New Roman";
}

.avatar__image,
.avatar__image_img,
.avatar__name,
.avatar__title {
    display: inline-block;
    vertical-align: middle;
}

avatar.avatar--medium .avatar__name,
avatar.avatar--medium .avatar__title {
    display: block;
    margin-left: calc(var(--avatar-size-medium) + var(--spacing-xsmall));
}

avatar.avatar--medium .avatar__name {
    margin-top: 22px;
}

avatar.avatar--medium .avatar__title {
    margin-top: 2px;
}

avatar.avatar--medium .avatar__image {
    float: left;
}

avatar.avatar--medium .avatar__image_img {
    height: var(--avatar-size-medium);
    width: var(--avatar-size-medium);
}

avatar.avatar--block .avatar__image_img {
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

avatar.avatar--block .avatar__name,
avatar.avatar--block .avatar__title,
avatar.avatar--block .avatar__summary {
    margin: 20px 0 0 0;
    white-space: pre-wrap;
}

avatar.avatar--block .avatar__image,
avatar.avatar--block .avatar__summary {
    margin-top: 30px;
    display: block;
}

avatar.avatar--block .avatar__name,
avatar.avatar--block .avatar__title {
    display: inline-block;
    font-size: var(--font-size-xxlarge);
    font-weight: normal;
    line-height: var(--font-height-large);
}

avatar.avatar--block .avatar__title {
    font-style: italic;
}

avatar.avatar--block .avatar__name::after {
    content: ', ';
    margin-right: 2px;
}

avatar.avatar--block .avatar__summary {
    display: block;
    text-align: left;
}

.avatar__image + .avatar__name,
.avatar__image + .avatar__title,
.avatar__name + .avatar__title {
    margin-left: 10px;
}

avatars .avatar__name,
avatars .avatar__title {
    display: none;
}
