avatar {
    display: inline-block;
    white-space: nowrap;
}

avatar:not(.avatar--block) {
    border-radius: 200px;
}

.avatar__image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    border: 1px solid var(--color-std-border-color);
    box-shadow: 0 0 4px var(--color-std-shadow-color);
    height: var(--avatar-size);
    width: var(--avatar-size);
}

avatar.avatar--block {
    text-align: center;
}

.avatar__name {
    font-weight: bold;
}

.avatar__image {
    background-image: url("/assets/images/avatar/avatar-black.svg");
}

.avatar__summary {
    display: none;
}

.avatar__image,
.avatar__name,
.avatar__title {
    display: inline-block;
    vertical-align: middle;
}

avatar.avatar--block .avatar__image {
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

avatar.avatar--block .avatar__name,
avatar.avatar--block .avatar__title,
avatar.avatar--block .avatar__summary {
    margin: 15px 0 0 0;
    white-space: pre-wrap;
}

avatar.avatar--block .avatar__image,
avatar.avatar--block .avatar__name,
avatar.avatar--block .avatar__summary {
    margin-top: 30px;
    display: block;
}

avatar.avatar--block .avatar__name {
    font-size: var(--font-size-xxlarge);
    line-height: var(--font-height-h1);
}

avatar.avatar--block .avatar__summary {
    display: block;
    text-align: left;
}

.avatar__image + .avatar__name,
.avatar__image + .avatar__title,
.avatar__name + .avatar__title {
    margin-left: 10px;
}

avatars .avatar__name,
avatars .avatar__title {
    display: none;
}
