html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    padding-bottom: 60px;
}

body * {
    box-sizing: border-box;
    letter-spacing: 1px;
    word-break: break-word;
}

::selection {
    background: color(var(--color-cp-brand) a(10%));
    text-shadow: none;
}

:focus {
    outline-color: var(--color-cp-brand);
    outline-width: thin;
}

header {
    background: white;
    border-bottom: 1px solid var(--color-std-border-color);
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-xsmall) var(--spacing-small) calc(var(--spacing-xsmall) * 5) var(--spacing-small);
    position: relative;
    transition: margin-bottom var(--speed-friendly), padding var(--speed-friendly);
    z-index: var(--z-index-header);
}

@media (--media-regular-screens) {
    header {
        padding: 20px 20px 60px 20px;
        margin-bottom: 23px;
    }
}

@media print {
    header {
        display: none;
    }
}

header *,
header button {
    vertical-align: middle;
    margin: 0;
}

header .tcp-logo {
    height: 40px;
    margin-top: 0;
    position: absolute;
    transition: margin var(--speed-friendly);
}

header .tcp-long-logo {
    height: 30px;
    margin-left: 60px;
    margin-top: 5px;
    opacity: 0;
    position: absolute;
    transition: opacity var(--speed-friendly), margin-left var(--speed-friendly);
}

@media (--media-regular-screens) {
    .page--home header .tcp-long-logo {
        opacity: 1;
    }
}

header.site-content {
    margin-bottom: calc(var(--body-padding-top) * 5);
}

footer.site-content {
    margin-top: 50px;
    height: 50px;
}

[ng-click],
[ng-click] * {
    cursor: pointer;
    /* transition: transform .1s; */
}

/* [ng-click]:active { */
/*     transform: translateY(1px); */
/* } */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

iframe {
    border: none;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-std-thin-border-color);
    margin: var(--spacing-small) 0;
}

.site-content {
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: 0 var(--content-horizontal-padding) 0 var(--content-horizontal-padding);
}

.site-content.site-content--span {
    max-width: none;
}

.site-content.site-content--no-header {
    padding-top: calc(var(--spacing-xlarge) * 2);
}

@media (--media-content-aside-allowed) {
    .site-content--main {
        left: var(--content-main-with-aside-offset);
        position: relative;
    }

    .site-content--aside {
        /* border-bottom: 1px solid var(--color-std-border-color); */
        border-left: 1px solid var(--color-std-border-color);
        /* border-top: 1px solid var(--color-std-border-color); */
        height: 100vh;
        overflow: scroll;
        padding: var(--computed-header-height) 0 0 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: padding-top var(--speed-friendly);
        width: var(--content-aside-width);
    }

    .--scroll-offset-100 .site-content--aside {
        padding-top: 0;
    }

    .site-content--aside__section {
        padding: var(--content-aside-vertical-padding) var(--content-aside-horizontal-padding);
    }

    .site-content--aside__section + .site-content--aside__section {
        border-top: 1px solid var(--color-std-border-color);
    }

    .site-content--aside__section-standout {
        background-color: var(--color-std-hover-background-color);
    }

}

.site-element {
    margin: 0 auto;
    max-width: calc(var(--content-max-width) - var(--content-horizontal-padding) * 2);
}

.banner.banner--1 {
    background-color: var(--color-banner-1);
}

.banner.banner--2 {
    background-color: var(--color-banner-2);
}

.banner.banner--3 {
    background-color: var(--color-banner-3);
}

.banner.banner--3 p {
    color: white;
}

.banner {
    padding: 40px 0;
    transition: padding var(--speed-friendly);
}

@media (--media-regular-screens) {
    .banner {
        padding: 80px 0;
    }
}
