button {
    background-color: var(--color-cp-brand);
    border-color: var(--color-cp-brand-border-color);
    color: white;
    font-weight: 900;
    min-height: var(--computed-button-height);
    min-width: var(--computed-button-height);
    text-transform: uppercase;
}

button * {
    cursor: pointer;
    vertical-align: middle;
}

button,
.tag-elem {
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    padding: 10px 17px;
    position: relative;
    text-align: center;
}

button.icon-plus::before {
    transform: scale(.8);
}

button.icon-plus,
button.icon-newspaper,
button.icon-clock,
button.icon-heart,
button.icon-menu {
    font-size: 22px;
    padding: 8px 7px 8px 8px;
}

button.icon-plus::before,
button.icon-newspaper::before,
button.icon-clock::before,
button.icon-heart::before,
button.icon-menu::before {
    left: .5px;
    position: relative;
    top: -1px;
}

button.button--link {
    background-color: initial;
    border-color: transparent;
    color: black;
}

button.button--slim {
    padding: 0;
}

button.button--secondary {
    background-color: white;
    color: var(--color-cp-brand);
}

button.button--social-linkedin {
    background-color: #0077B5;
    color: white;
}

button.button--social-linkedin img {
    height: 19px;
    width: 20px;
}
