.chart {
    letter-spacing: 1px;
}

.chart__label {
    text-transform: uppercase;
    font-weight: 700;
}

.chart--hbar {
    max-width: 500px;
}

.chart--hbar td {
    vertical-align: middle;
}

.chart--hbar tr + tr td {
    padding-top: var(--spacing-xsmall);
}

.chart--hbar .chart__bar {
    background: var(--color-chart-bar);
    display: inline-block;
    height: 30px;
    transition: width var(--speed-visible) var(--easing-ease);
    width: 0px;
}

.chart--hbar .chart__label {
    padding-right: var(--spacing-medium);
}

.chart--hbar .chart__value {
    padding-left: var(--spacing-xsmall);
    position: relative;
    top: -10px;
}

.chart--heartcount {
    font-size: 0;
    white-space: nowrap;
}

.chart--heartcount__n {
    background-image: url(/assets/images/heart-white.svg);
    background-size: contain;
    display: inline-block;
    height: 22px;
    margin-left: 1px;
    opacity: .5;
    width: 22px;
}

.chart[value="1"] .chart--heartcount__1,
.chart[value="2"] .chart--heartcount__1,
.chart[value="2"] .chart--heartcount__2,
.chart[value="3"] .chart--heartcount__1,
.chart[value="3"] .chart--heartcount__2,
.chart[value="3"] .chart--heartcount__3,
.chart[value="4"] .chart--heartcount__1,
.chart[value="4"] .chart--heartcount__2,
.chart[value="4"] .chart--heartcount__3,
.chart[value="4"] .chart--heartcount__4,
.chart[value="5"] .chart--heartcount__1,
.chart[value="5"] .chart--heartcount__2,
.chart[value="5"] .chart--heartcount__3,
.chart[value="5"] .chart--heartcount__4,
.chart[value="5"] .chart--heartcount__5 {
    background-image: url(/assets/images/heart-black.svg);
}
