.chart__label {
    text-transform: uppercase;
    font-weight: 700;
}

.chart--hbar td {
    vertical-align: middle;
}

.chart--hbar tr + tr td {
    padding-top: var(--spacing-xsmall);
}

.chart--hbar .chart__bar {
    background: var(--color-chart-bar);
    display: inline-block;
    height: 30px;
    transition: width var(--speed-friendly);
    width: 0px;
}

.chart--hbar .chart__label {
    padding-right: var(--spacing-medium);
}

.chart--hbar .chart__value {
    padding-left: var(--spacing-xsmall);
    position: relative;
    top: -10px;
}

.chart--heartcount {
    font-size: 0;
    white-space: nowrap;
}

.chart--heartcount__left,
.chart--heartcount__right {
    background-size: contain;
    display: inline-block;
    height: 25px;
}

.chart--heartcount__left {
    background-image: url(/assets/images/heart-black.svg);
}

.chart--heartcount__right {
    background-image: url(/assets/images/heart-white.svg);
}

.chart--heartcount-0 .chart--heartcount__left, .chart--heartcount- .chart--heartcount__left { width: 0; }
.chart--heartcount-0 .chart--heartcount__right, .chart--heartcount- .chart--heartcount__right { width: 125px; }
.chart--heartcount-1 .chart--heartcount__left { width: 25px; }
.chart--heartcount-1 .chart--heartcount__right { width: 100px; }
.chart--heartcount-2 .chart--heartcount__left { width: 50px; }
.chart--heartcount-2 .chart--heartcount__right { width: 75px; }
.chart--heartcount-3 .chart--heartcount__left { width: 75px; }
.chart--heartcount-3 .chart--heartcount__right { width: 50px; }
.chart--heartcount-4 .chart--heartcount__left { width: 100px; }
.chart--heartcount-4 .chart--heartcount__right { width: 25px; }
.chart--heartcount-5 .chart--heartcount__left { width: 125px; }
.chart--heartcount-5 .chart--heartcount__right { width: 0; }
