.chart__label {
    text-transform: uppercase;
    font-weight: 700;
}

.chart--hbar td {
    vertical-align: middle;
}

.chart--hbar tr + tr td {
    padding-top: var(--spacing-xsmall);
}

.chart--hbar .chart__bar {
    background: var(--color-chart-bar);
    display: inline-block;
    height: 30px;
    transition: width var(--speed-friendly);
    width: 0px;
}

.chart--hbar .chart__label {
    padding-right: var(--spacing-medium);
}

.chart--hbar .chart__value {
    padding-left: var(--spacing-xsmall);
    position: relative;
    top: -10px;
}
