tag-view {
    display: block;
}

.reviews-component__sort {
    position: relative;
    top: 10px;
}

.component__timeline {
    margin-bottom: 120px;
}

.company-component .company-component__qa {
    margin-top: 80px;
    margin-bottom: 200px;
}

.company-component .company-component__qa p {
    font-family: Times;
    font-size: var(--font-size-xlarge);
    font-style: italic;
    font-weight: 900;
}

.company-component .company-component__qa img {
    width: 150px;
}

.events__event__view .event-elem--view .imgview--bookmarks ,
.user-component .event-elem--view .source--view + .source--view {
    display: none;
}

.topmost .notifications {
    max-height: 450px;
    max-width: 400px;
    overflow: scroll;
}

@media (--media-regular-screens) {
    .reviews-component__sort {
        float: right
    }
}
