tag-view {
    display: block;
}

.reviews-component__sort {
    position: relative;
    top: 10px;
}

.component__timeline {
    margin-bottom: 120px;
}

.company-component .company-component__qa {
    margin-top: 80px;
    margin-bottom: 200px;
}

.company-component .company-component__qa img {
    width: 150px;
}

.events__event__view .event-elem--view .imgview--bookmarks ,
.user-component .event-elem--view .source--view + .source--view {
    display: none;
}

.topmost .notifications {
    max-height: 450px;
    max-width: 400px;
    overflow: scroll;
}

@media (--media-regular-screens) {
    .reviews-component__sort {
        float: right
    }
}

.home-view-component {
    margin-top: -23px;
}

.home-view-component .trending-component {
    float: left;
    margin-bottom: var(--spacing-xlarge);
    margin-left: var(--spacing-xlarge);
}

.home-view-component__coooool {
    border-left: 1px solid var(--color-std-thin-border-color);
    border-top: 1px solid var(--color-std-thin-border-color);
    float: right;
    margin-top: -calc(var(--spacing-small) + 1);
    padding: 0 calc(var(--spacing-xlarge) * 2) calc(var(--spacing-xlarge) * 2) var(--spacing-xlarge);
    width: 355px;
}

.home-view-component__coooool p:first-child {
    font-weight: bold;
    margin-bottom: -var(--spacing-xsmall);
}
