.events {
    position: relative;
    text-align: center;
}

.events__event {
    min-height: 80px;
}

.events__event--last .events__event__info {
    display: none;
}

@media (--media-regular-screens) {
    .events__event--last {
        position: relative;
        top: 70px;
    }

    .events__event--last .events__event__icon {
        top: 0;
    }

    .events__event--highlight .events__event__title {
        font-family: Times;
        font-size: var(--font-size-xxlarge);
        font-style: italic;
        line-height: var(--font-height-large);
    }
}

.events__event__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 200px;
    display: inline-block;
    height: var(--avatar-size);
    margin-right: 6px;
    position: relative;
    top: 20px;
    vertical-align: top;
    width: var(--avatar-size);
}

.events__event__icon--neutral {
    background-color: var(--color-neutral);
}

.events__event__icon--positive {
    background-color: var(--color-positive);
}

.events__event__icon--negative {
    background-color: var(--color-negative);
}

.events__event__content {
    display: inline-block;
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xlarge);
    text-align: left;
    width: 80%;
}

.events__event__content--left {
    margin-right: var(--spacing-small);
}

.events__event__content--right {
    margin-left: var(--spacing-small);
}

.events__event .events__event__content--left {
    display: none;
}

@media (--media-regular-screens) {
    .events__event__content {
        margin-bottom: var(--spacing-small);
        width: 40%;
    }

    .events__event .events__event__content--left {
        display: inline-block;
    }

    .events__event:nth-child(odd) .events__event__content--left > div,
    .events__event:nth-child(event) .events__event__content--right > div {
        display: block;
    }

    .events__event:nth-child(even) .events__event__content--left > div,
    .events__event:nth-child(odd) .events__event__content--right > div {
        display: none;
    }
}

.events__event__date {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 700;
    text-transform: uppercase;
    width: 50px;
}

.events__event__meta {
    background-repeat: no-repeat;
    float: right;
    font-size: var(--font-size-small);
    margin-left: var(--spacing-xsmall);
    padding-left: 24px;
}

.events__event__meta--sources {
    background-image: url(/assets/images/book.svg);
    background-position: -1px -3px;
    background-size: 20px;
}

.events__event__meta--bookmarks {
    background-image: url(/assets/images/star/star-border.svg);
    background-position: -2px -5px;
    background-size: 24px;
}

.events__event__meta--bookmarks.events__event__meta--bookmarked {
    background-image: url(/assets/images/star/star-filled.svg);
}

.events__event__title {
    border-top: 1px solid var(--color-std-border-color);
    color: var(--color-light-text-color);
    font-size: 20px;
    line-height: var(--font-height-small);
    margin-top: 10px;
    padding-top: 10px;
}

.events__line {
    animation-delay: 1s;
    background: var(--color-std-thick-border-color);
    display: none;
    height: 100%;
    left: calc(50% - 2px);
    position: absolute;
    top: 20px;
    width: 2px;
    z-index: var(--z-index-none);
}

@media (--media-regular-screens) {
    .events__line {
        display: block;
    }
}
