.events {
    position: relative;
    text-align: center;
}

.events__event {
    min-height: 80px;
    transition: margin-top var(--speed-friendly);
}

.events__event__view {
    animation: var(--speed-friendly) fadeIn;
}

/* event view in timeline animation start */
.event-elem--view.ng-animated {
    max-height: 100vh;
    overflow: scroll;
    transition: all var(--speed-friendly), opacity 1s;
}

.event-elem--view.ng-animated.ng-leave {
    transition: all .4s .1s, opacity .4s, max-height .5s;
}

.event-elem--view.ng-animated.ng-enter {
    opacity: 0;
    padding: 0;
}

.event-elem--view.ng-animated.ng-leave.ng-leave-active {
    font-size: 0 !important;
    line-height: 0 !important;
    max-height: 0;
    opacity: 0;
    padding: 0;
}

.event-elem--view.ng-animated.ng-leave,
.event-elem--view.ng-animated.ng-enter.ng-enter-active {
    opacity: 1;
}

.event-elem--view.ng-animated.ng-enter.ng-enter-active {
    padding: var(--spacing-large) 0;
}
/* event view in timeline animation end */

.event-elem--view .line-separated ~ .line-separated {
    padding-top: 20px;
}

.events__event--last .events__event__info {
    display: none;
}

.events__event .event-elem--view {
    margin-top: -var(--spacing-large);
}

@media (--media-regular-screens) {
    .events__event--last {
        position: relative;
        top: 70px;
    }

    .events__event .event-elem--view {
        margin-top: 26px;
        padding: calc(var(--spacing-large) * 2) 0;
    }

    .events__event__icon {
        outline: none;
        transition: transform var(--speed-friendly);
    }

    .events__event--last .events__event__icon {
        top: 0;
    }

    .events__event--selected .events__event__icon {
        transform: scale(1.6);
    }

    .events__event--selected .events__event__icon--hammer {
        transform: scale(1.6) rotate(-40deg);
    }

    .events__event--highlight .events__event__title {
        font-family: Times;
        font-size: var(--font-size-xxlarge);
        font-style: italic;
        line-height: var(--font-height-large);
    }

    .events__event__content {
        outline: none;
        transition: opacity var(--speed-friendly);
    }

    .events__event--selected .events__event__content * {
        font-size: 0;
        height: 0;
        line-height: 0;
        opacity: 0;
    }

    .events__event.events__event--selected:not(.events__event--first):not(.events__event--last) {
        margin-top: var(--spacing-xlarge);
    }

    .events__event--selected ~ .events__event {
        margin-top: -20px;
    }
}

.events__event__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 200px;
    display: inline-block;
    height: var(--avatar-size);
    margin-right: 6px;
    position: relative;
    top: 20px;
    vertical-align: top;
    width: var(--avatar-size);
}

.events__event__icon--neutral {
    background-color: var(--color-neutral);
}

.events__event__icon--positive {
    background-color: var(--color-positive);
}

.events__event__icon--negative {
    background-color: var(--color-negative);
}

.events__event__content {
    display: inline-block;
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xlarge);
    text-align: left;
    width: 80%;
}

.events__event__content--left {
    margin-right: var(--spacing-small);
}

.events__event__content--right {
    margin-left: var(--spacing-small);
}

.events__event .events__event__content--left {
    display: none;
}

@media (--media-regular-screens) {
    .events__event__content {
        margin-bottom: var(--spacing-small);
        /* width: 40%; */
        width: var(--content-timeline-offside);
    }

    .events__event .events__event__content--left {
        display: inline-block;
    }

    .events__event:nth-child(odd) .events__event__content--left > div,
    .events__event:nth-child(event) .events__event__content--right > div {
        display: block;
    }

    .events__event:nth-child(even) .events__event__content--left > div,
    .events__event:nth-child(odd) .events__event__content--right > div {
        display: none;
    }
}

.event-elem__date,
.events__event__date {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 700;
    text-transform: uppercase;
    width: 50px;
}

.event-elem__sources,
.events__event__meta {
    background-repeat: no-repeat;
    font-size: var(--font-size-small);
    margin-left: var(--spacing-xsmall);
    padding-left: 24px;
}

.events__event__edit-menu .imgview,
.events__event__meta {
    float: right;
}

.event-elem__sources,
.events__event__meta--sources {
    height: 20px;
    background-image: url(/assets/images/book.svg);
    background-position: -1px -3px;
    background-size: 20px;
}

.events__event__meta--bookmarks {
    background-image: url(/assets/images/star/star-border.svg);
    background-position: -2px -5px;
    background-size: 24px;
}

.events__event__meta--bookmarks.events__event__meta--bookmarked {
    background-image: url(/assets/images/star/star-filled.svg);
}

.events__event__title {
    border-top: 1px solid var(--color-std-border-color);
    color: var(--color-light-text-color);
    font-size: 20px;
    line-height: var(--font-height-small);
    margin-top: 10px;
    padding-top: 10px;
}

.events__line {
    animation-delay: 1s;
    background: var(--color-std-thick-border-color);
    display: none;
    height: 100%;
    left: calc(50% - 2px);
    position: absolute;
    top: 20px;
    width: 2px;
    z-index: var(--z-index-none);
}

@media (--media-regular-screens) {
    .events__line {
        display: block;
    }
}

.event-elem__logo input {
    display: none;
}

.event-elem__logo td {
    padding-right: var(--spacing-xlarge);
}

.event-elem__logo--animal,
.event-elem__logo--world,
.event-elem__logo--hammer {
    background-color: black;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45px;
    border-radius: 200px;
    height: 60px;
    margin: var(--spacing-small) auto;
    transition: background-color var(--speed-fast);
    width: 60px;
}

.event-elem__logo input[aria-checked="true"] + div {
    background-color: var(--color-cp-brand);
}

.events__event__icon--company_created {
    background-image: url(/assets/images/megaphone.svg);
}

.events__event__icon--animal,
.event-elem__logo--animal {
    background-image: url(/assets/images/animal.svg);
}

.events__event__icon--world,
.event-elem__logo--world {
    background-image: url(/assets/images/world.svg);
}

.events__event__icon--hammer,
.event-elem__logo--hammer {
    background-image: url(/assets/images/hammer.svg);
    transform: rotate(-40deg);
}

.events__event__icon--hammer {
    background-position: -9px 7px;
    background-size: 60px;
}

.event-elem__logo--hammer {
    background-position: -4px 12px;
    background-size: 70px;
}

.events__event__edit-menu {
    float: right;
    margin-top: -40px;
}
