.events {
    position: relative;
    text-align: center;
}

.events__event {
    min-height: 80px;
}

.events__event__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 200px;
    display: inline-block;
    height: 40px;
    margin-right: 6px;
    vertical-align: top;
    width: 40px;
}

.events__event__icon--neutral {
    background-color: var(--color-neutral);
}

.events__event__icon--positive {
    background-color: var(--color-positive);
}

.events__event__icon--negative {
    background-color: var(--color-negative);
}

.events__event__content {
    display: inline-block;
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xlarge);
    text-align: left;
    width: 80%;
}

.events__event__content--left {
    margin-right: var(--spacing-small);
}

.events__event__content--right {
    margin-left: var(--spacing-small);
}

.events__event .events__event__content--left {
    display: none;
}

@media (--media-regular-screens) {
    .events__event__content {
        margin-bottom: var(--spacing-small);
        width: 40%;
    }

    .events__event .events__event__content--left {
        display: inline-block;
    }

    .events__event:nth-child(odd) .events__event__content--left > div,
    .events__event:nth-child(event) .events__event__content--right > div {
        display: block;
    }

    .events__event:nth-child(even) .events__event__content--left > div,
    .events__event:nth-child(odd) .events__event__content--right > div {
        display: none;
    }
}

.events__event__sources,
.events__event__date {
    font-size: var(--font-size-small);
}

.events__event__date {
    font-weight: 700;
    text-transform: uppercase;
    width: 50px;
}

.events__event__sources {
    background-image: url(/assets/images/book.svg);
    background-position: -1px -1px;
    background-repeat: no-repeat;
    background-size: 17px;
    float: right;
    padding-left: 20px;
}

.events__event__title {
    border-top: 1px solid var(--color-std-border-color);
    color: var(--color-light-text-color);
    margin-top: 10px;
    padding-top: 10px;
}

.events__line {
    animation-delay: 1s;
    background: var(--color-std-thick-border-color);
    display: none;
    height: calc(100% - 90px);
    left: calc(50% - 2px);
    position: absolute;
    top: 0;
    width: 2px;
    z-index: var(--z-index-none);
}

@media (--media-regular-screens) {
    .events__line {
        display: block;
        height: calc(100% - 70px);
    }
}
