.feedback {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.feedback__action {
    background-color: var(--color-std-highlight-background-color);
    background-image: url(/assets/images/feedback.svg);
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: 27px;
    border-radius: 200px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
}

.feedback__container {
    border: 3px solid var(--color-std-thin-border-color);
    white-space: nowrap;
}

.feedback__opt {
    background-position: var(--spacing-medium) var(--spacing-medium);
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: var(--font-size-normal);
    font-weight: 700;
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium) calc(var(--spacing-large) * 2);
    text-transform: uppercase;
}

.feedback__opt--question {
    background-image: url(/assets/images/question-mark.svg);
}

.feedback__opt--suggestion {
    background-image: url(/assets/images/pencil.svg);
}

.feedback__opt--problem {
    background-image: url(/assets/images/alert.svg);
}

.feedback__message,
.feedback__container--adding .feedback__opt {
    display: none;
}

.feedback__container--adding--question .feedback__opt--question,
.feedback__container--adding--suggestion .feedback__opt--suggestion,
.feedback__container--adding--problem .feedback__opt--problem,
.feedback__container--adding .feedback__message {
    display: block;
}

.feedback__message textarea {
    border-top: 1px solid var(--color-std-thin-border-color);
    height: 135px;
    padding: 15px;
    resize: none;
    width: 400px;
}

.feedback__message button {
    display: block;
    margin: var(--spacing-small);
}
