.feedback {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.feedback__action {
    background-color: var(--color-std-highlight-background-color);
    background-image: url(/assets/images/feedback.svg);
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: 27px;
    border-radius: 200px;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
}

.feedback__container {
    border: 3px solid var(--color-std-thin-border-color);
    white-space: nowrap;
}

.feedback__opt {
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: var(--font-size-normal);
    font-weight: 700;
    margin: var(--spacing-large);
    padding-left: var(--spacing-xlarge);
    text-transform: uppercase;
}

.feedback__opt--question {
    background-image: url(/assets/images/question-mark.svg);
}

.feedback__opt--suggestion {
    background-image: url(/assets/images/pencil.svg);
}

.feedback__opt--problem {
    background-image: url(/assets/images/alert.svg);
}
