.feedback {
    bottom: var(--spacing-medium);
    left: var(--spacing-medium);
    position: fixed;
}

.feedback__action {
    background-color: var(--color-std-highlight-background-color);
    background-image: url(/assets/images/feedback.svg);
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: 27px;
    border-radius: 200px;
    box-sizing: border-box;
    height: 45px;
    outline: none;
    width: 45px;
}

.feedback__container {
    background-color: var(--color-std-background-color);
    border: 3px solid var(--color-std-thin-border-color);
    white-space: nowrap;
}

.feedback__opt {
    background-position: var(--spacing-medium) var(--spacing-medium);
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: var(--font-size-normal);
    font-weight: 700;
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium) calc(var(--spacing-large) * 2);
    text-transform: uppercase;
}

.feedback__opt--question {
    background-image: url(/assets/images/question-mark.svg);
}

.feedback__opt--suggestion {
    background-image: url(/assets/images/pencil.svg);
}

.feedback__opt--problem {
    background-image: url(/assets/images/alert.svg);
}

.feedback__opt--success {
    background-color: var(--color-success);
}

.feedback__opt--failure {
    background-color: var(--color-failure);
}

.feedback__opt--success,
.feedback__opt--failure {
    padding-left: var(--spacing-medium);
    text-align: center;
}

.feedback__response,
.feedback__message,
.feedback__response--question,
.feedback__response--suggestion,
.feedback__response--problem,
.feedback__response--failure,
.feedback__opt--success,
.feedback__opt--failure,
.feedback__container--adding .feedback__opt {
    display: none;
}

:not(.feedback__container--status).feedback__container--adding--question .feedback__opt--question,
:not(.feedback__container--status).feedback__container--adding--suggestion .feedback__opt--suggestion,
:not(.feedback__container--status).feedback__container--adding--problem .feedback__opt--problem,
:not(.feedback__container--status).feedback__container--adding .feedback__message,
.feedback__container--status--success.feedback__container--adding--question .feedback__response--question,
.feedback__container--status--success.feedback__container--adding--suggestion .feedback__response--suggestion,
.feedback__container--status--success.feedback__container--adding--problem .feedback__response--problem,
.feedback__container--status--failure .feedback__response--failure,
.feedback__container--status--success .feedback__opt--success,
.feedback__container--status--failure .feedback__opt--failure,
.feedback__container--status .feedback__response {
    display: block;
}

.feedback__response {
    box-sizing: border-box;
    padding: 0 var(--spacing-large);
    white-space: normal;
}

.feedback__response,
.feedback__message textarea {
    max-width: calc(100vw - var(--spacing-medium) * 2);
    width: 500px;
}

.feedback__message textarea {
    border-top: 1px solid var(--color-std-thin-border-color);
    height: 135px;
    padding: var(--spacing-small);
    resize: none;
}

.feedback__message button {
    display: block;
    margin: var(--spacing-small);
}
