avatar::not(.image-only),
button,
.tag-elem {
    font-size: var(--font-size-small);
    line-height: initial;
    margin-bottom: var(--inline-element-gutter);
    margin-right: var(--inline-element-gutter);
}

avatar.avatar--block {
    margin: 0;
}

avatars,
buttons,
tags {
    display: inline-block;
    font-size: 0;
    margin-bottom: -var(--inline-element-gutter);
}

avatars *,
buttons *,
tags * {
    vertical-align: middle;
}
