.arrow {
    background: white;
    border: 3px solid var(--color-std-thin-border-color);
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
}

.arrow--left {
    border-right: 0;
    border-top: 0;
}

.close-x {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    vertical-align: middle;
}

.close-x::after {
    content: "×"
}

.line-separated ~ .line-separated {
    border-top: 1px solid var(--color-std-thin-border-color);
}

.fill-background {
    background-color: var(--color-std-background-color);
}

.highlight-action {
    transition: background-color var(--speed-fast);
}

.highlight-action:hover {
    background-color: var(--color-highlight);
}

.is-non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.logged-in-only--display {
    display: none;
}

.state--is-logged-in .logged-in-only--display {
    display: initial;
}

.logged-in-only {
    visibility: hidden;
}

.state--is-logged-in .logged-in-only {
    visibility: visible;
}

.half-width {
    width: 50%;
}

.not-half-width-but-not-full-either {
    width: 85%;
}

.no-outline {
    outline: none;
}

.no-white-space {
    font-size: 0;
}

.can-load {
    transition: opacity var(--speed-friendly);
}

.loading {
    opacity: .5;
}

.loading--spinner {
    background-image: url(/assets/images/loading-spin.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.loading__only {
  display: none;
}

.loading .loading__only {
  display: inherit;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.no-span {
    width: 1px;
}

.full-span {
    width: 100%;
}

.desktop-only {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.take-space::after {
    content: '\00a0';
    display: inline-block;
    width: 0;
}

.padding-bottom-large { padding-bottom: var(--spacing-large); }
.padding-bottom-medium { padding-bottom: var(--spacing-medium); }
.padding-bottom-small { padding-bottom: var(--spacing-small); }
.padding-bottom-xlarge { padding-bottom: var(--spacing-xlarge); }
.padding-bottom-xsmall { padding-bottom: var(--spacing-xsmall); }

.padding-left-large { padding-left: var(--spacing-large); }
.padding-left-medium { padding-left: var(--spacing-medium); }
.padding-left-small { padding-left: var(--spacing-small); }
.padding-left-xlarge { padding-left: var(--spacing-xlarge); }
.padding-left-xsmall { padding-left: var(--spacing-xsmall); }

.padding-right-large { padding-right: var(--spacing-large); }
.padding-right-medium { padding-right: var(--spacing-medium); }
.padding-right-small { padding-right: var(--spacing-small); }
.padding-right-xlarge { padding-right: var(--spacing-xlarge); }
.padding-right-xsmall { padding-right: var(--spacing-xsmall); }

.padding-top-large { padding-top: var(--spacing-large); }
.padding-top-medium { padding-top: var(--spacing-medium); }
.padding-top-small { padding-top: var(--spacing-small); }
.padding-top-xlarge { padding-top: var(--spacing-xlarge); }
.padding-top-xsmall { padding-top: var(--spacing-xsmall); }

.margin-bottom-large { margin-bottom: var(--spacing-large); }
.margin-bottom-medium { margin-bottom: var(--spacing-medium); }
.margin-bottom-small { margin-bottom: var(--spacing-small); }
.margin-bottom-xlarge { margin-bottom: var(--spacing-xlarge); }
.margin-bottom-xsmall { margin-bottom: var(--spacing-xsmall); }

.margin-bottom-large-negative { margin-bottom: -var(--spacing-large); }
.margin-bottom-medium-negative { margin-bottom: -var(--spacing-medium); }
.margin-bottom-small-negative { margin-bottom: -var(--spacing-small); }
.margin-bottom-xlarge-negative { margin-bottom: -var(--spacing-xlarge); }
.margin-bottom-xsmall-negative { margin-bottom: -var(--spacing-xsmall); }

.margin-left-large { margin-left: var(--spacing-large); }
.margin-left-medium { margin-left: var(--spacing-medium); }
.margin-left-small { margin-left: var(--spacing-small); }
.margin-left-xlarge { margin-left: var(--spacing-xlarge); }
.margin-left-xsmall { margin-left: var(--spacing-xsmall); }

.margin-left-large-negative { margin-left: -var(--spacing-large); }
.margin-left-medium-negative { margin-left: -var(--spacing-medium); }
.margin-left-small-negative { margin-left: -var(--spacing-small); }
.margin-left-xlarge-negative { margin-left: -var(--spacing-xlarge); }
.margin-left-xsmall-negative { margin-left: -var(--spacing-xsmall); }

.margin-right-large { margin-right: var(--spacing-large); }
.margin-right-medium { margin-right: var(--spacing-medium); }
.margin-right-small { margin-right: var(--spacing-small); }
.margin-right-xlarge { margin-right: var(--spacing-xlarge); }
.margin-right-xsmall { margin-right: var(--spacing-xsmall); }

.margin-right-large-negative { margin-right: -var(--spacing-large); }
.margin-right-medium-negative { margin-right: -var(--spacing-medium); }
.margin-right-small-negative { margin-right: -var(--spacing-small); }
.margin-right-xlarge-negative { margin-right: -var(--spacing-xlarge); }
.margin-right-xsmall-negative { margin-right: -var(--spacing-xsmall); }

.margin-top-large { margin-top: var(--spacing-large); }
.margin-top-medium { margin-top: var(--spacing-medium); }
.margin-top-small { margin-top: var(--spacing-small); }
.margin-top-xlarge { margin-top: var(--spacing-xlarge); }
.margin-top-xsmall { margin-top: var(--spacing-xsmall); }

.margin-top-large-negative { margin-top: -var(--spacing-large); }
.margin-top-medium-negative { margin-top: -var(--spacing-medium); }
.margin-top-small-negative { margin-top: -var(--spacing-small); }
.margin-top-xlarge-negative { margin-top: -var(--spacing-xlarge); }
.margin-top-xsmall-negative { margin-top: -var(--spacing-xsmall); }

.font-size-xsmall { font-size: var(--font-size-xsmall); }
.font-size-small { font-size: var(--font-size-small); line-height: var(--font-height-xsmall); }
.font-size-normal { font-size: var(--font-size-normal); }
.font-size-large { font-size: var(--font-size-large); }
.font-size-xlarge { font-size: var(--font-size-xlarge); }
.font-size-xxlarge { font-size: var(--font-size-xxlarge); }

.screen-small-only {
    display: initial;
}

@media (--media-regular-screens) {
    .screen-small-only {
        display: none;
    }

    .desktop-only {
        display: inherit;
    }
}

.imgview {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.imgview--with-content {
    width: auto;
    padding-left: 24px;
}

.imgview--dot-dot-dot {
    background-image: url(/assets/images/dot-dot-dot.svg);
    background-position: 0;
    background-size: 21px;
}

.imgview--warning {
    background-image: url(/assets/images/warning.svg);
    background-position: 0;
    background-size: 19px;
}

.imgview--sources {
    background-image: url(/assets/images/book.svg);
    background-position: -1px -1px;
    background-size: 20px;
}

.imgview--bookmarks,
.imgview--bookmarked {
    background-position: 1px 0;
    background-size: 19px;
}

.imgview--bookmarks {
    background-image: url(/assets/images/star-border.svg);
}

.imgview--bookmarked {
    background-image: url(/assets/images/star-filled.svg);
}

.imgview--bell {
    background-image: url(/assets/images/bell-blue.svg);
    background-position: 1px 0;
    background-size: 19px;
}

button.imgview--bell {
    background-position: 50% 50%;
    background-size: 27px;
}
