.line-separated ~ .line-separated {
    border-top: 1px solid var(--color-std-thin-border-color);
}

.fill-background {
    background-color: var(--color-std-background-color);
}

.highlight-action {
    transition: background-color var(--speed-fast);
}

.highlight-action:hover {
    background-color: var(--color-highlight);
}

.is-non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.no-outline {
    outline: none;
}

.no-white-space {
    font-size: 0;
}

.can-load {
    transition: opacity var(--speed-friendly);
}

.loading {
    opacity: .5;
}

.loading--spinner {
    background-image: url(/assets/images/loading-spin.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.loading__only {
  display: none;
}

.loading .loading__only {
  display: inherit;
}

.linkimg {
    /* inlined bacause it was taking too long to load */
    /* https://developer.mozilla.org/en-US/docs/Web/HTTP/Link_prefetching_FAQ */
    /* background-image: url(/assets/images/link.svg); */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path opacity=".5" d="M61.238 47.047a14.333 14.333 0 0 0-2.96-4.325 14.363 14.363 0 0 0-4.324-2.96l-1.94 1.94-1.348 1.348-1.4 1.4c-.26.258-.48.54-.673.835 1.857.12 3.595.87 4.923 2.2 1.366 1.364 2.076 3.122 2.194 4.91a7.648 7.648 0 0 1-.375 2.946 7.612 7.612 0 0 1-1.752 2.918c-.026.025-.04.056-.065.08l-1.59 1.588-2.203 2.204-2.056 2.057-5.36 5.36a7.622 7.622 0 0 1-5.428 2.246 7.63 7.63 0 0 1-5.428-2.25c-1.448-1.447-2.246-3.375-2.246-5.425s.797-3.98 2.247-5.428l5.367-5.368a17.023 17.023 0 0 1-.66-2.91c-.1-.732-.17-1.47-.172-2.208-.01-1.358.158-2.715.472-4.044l-9.77 9.77c-5.625 5.626-5.625 14.75 0 20.377a14.37 14.37 0 0 0 10.188 4.22c3.69 0 7.376-1.407 10.19-4.22l9.754-9.755 1.453-1.45a14.402 14.402 0 0 0 2.11-2.71 14.28 14.28 0 0 0 1.86-4.835c.16-.868.247-1.747.247-2.628a14.424 14.424 0 0 0-.368-3.203 14.06 14.06 0 0 0-.888-2.68z"/><path opacity=".5" d="M74.307 26.694a14.368 14.368 0 0 0-10.188-4.22c-3.69 0-7.377 1.407-10.19 4.22l-9.754 9.755-1.453 1.452a14.434 14.434 0 0 0-2.11 2.71 14.325 14.325 0 0 0-2.11 7.46c0 1.076.13 2.15.37 3.204.206.914.502 1.81.89 2.68.697 1.565 1.673 3.038 2.96 4.323s2.757 2.26 4.324 2.96l1.94-1.94 1.347-1.347 1.398-1.398c.26-.26.482-.542.675-.838-1.858-.12-3.596-.87-4.925-2.2-1.368-1.366-2.078-3.128-2.196-4.92a7.7 7.7 0 0 1 .378-2.936 7.555 7.555 0 0 1 1.752-2.916c.025-.025.04-.055.066-.08l1.588-1.59 2.205-2.203 2.057-2.056 5.358-5.357a7.626 7.626 0 0 1 5.43-2.25c2.05 0 3.977.8 5.425 2.25 2.994 2.992 2.994 7.862.002 10.854l-5.37 5.37c.31.952.527 1.925.662 2.91.1.732.167 1.47.17 2.207.01 1.36-.157 2.715-.474 4.044l9.77-9.768c5.626-5.627 5.626-14.75 0-20.378z"/></svg>');
    display: inline-block;
    height: 33px;
    position: relative;
    top: 5px;
    width: 33px;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
    width: 100%;
}

.full-span {
    width: 100%;
}

.desktop-only {
    display: none;
}

.header-spacing--top {
    margin-top: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.take-space::after {
    content: '\00a0';
    display: inline-block;
    width: 0;
}

.padding-bottom-large { padding-bottom: var(--spacing-large); }
.padding-bottom-medium { padding-bottom: var(--spacing-medium); }
.padding-bottom-small { padding-bottom: var(--spacing-small); }
.padding-bottom-xlarge { padding-bottom: var(--spacing-xlarge); }
.padding-bottom-xsmall { padding-bottom: var(--spacing-xsmall); }

.padding-left-large { padding-left: var(--spacing-large); }
.padding-left-medium { padding-left: var(--spacing-medium); }
.padding-left-small { padding-left: var(--spacing-small); }
.padding-left-xlarge { padding-left: var(--spacing-xlarge); }
.padding-left-xsmall { padding-left: var(--spacing-xsmall); }

.padding-right-large { padding-right: var(--spacing-large); }
.padding-right-medium { padding-right: var(--spacing-medium); }
.padding-right-small { padding-right: var(--spacing-small); }
.padding-right-xlarge { padding-right: var(--spacing-xlarge); }
.padding-right-xsmall { padding-right: var(--spacing-xsmall); }

.padding-top-large { padding-top: var(--spacing-large); }
.padding-top-medium { padding-top: var(--spacing-medium); }
.padding-top-small { padding-top: var(--spacing-small); }
.padding-top-xlarge { padding-top: var(--spacing-xlarge); }
.padding-top-xsmall { padding-top: var(--spacing-xsmall); }

.margin-bottom-large { margin-bottom: var(--spacing-large); }
.margin-bottom-medium { margin-bottom: var(--spacing-medium); }
.margin-bottom-small { margin-bottom: var(--spacing-small); }
.margin-bottom-xlarge { margin-bottom: var(--spacing-xlarge); }
.margin-bottom-xsmall { margin-bottom: var(--spacing-xsmall); }

.margin-bottom-large-negative { margin-bottom: -var(--spacing-large); }
.margin-bottom-medium-negative { margin-bottom: -var(--spacing-medium); }
.margin-bottom-small-negative { margin-bottom: -var(--spacing-small); }
.margin-bottom-xlarge-negative { margin-bottom: -var(--spacing-xlarge); }
.margin-bottom-xsmall-negative { margin-bottom: -var(--spacing-xsmall); }

.margin-left-large { margin-left: var(--spacing-large); }
.margin-left-medium { margin-left: var(--spacing-medium); }
.margin-left-small { margin-left: var(--spacing-small); }
.margin-left-xlarge { margin-left: var(--spacing-xlarge); }
.margin-left-xsmall { margin-left: var(--spacing-xsmall); }

.margin-left-large-negative { margin-left: -var(--spacing-large); }
.margin-left-medium-negative { margin-left: -var(--spacing-medium); }
.margin-left-small-negative { margin-left: -var(--spacing-small); }
.margin-left-xlarge-negative { margin-left: -var(--spacing-xlarge); }
.margin-left-xsmall-negative { margin-left: -var(--spacing-xsmall); }

.margin-right-large { margin-right: var(--spacing-large); }
.margin-right-medium { margin-right: var(--spacing-medium); }
.margin-right-small { margin-right: var(--spacing-small); }
.margin-right-xlarge { margin-right: var(--spacing-xlarge); }
.margin-right-xsmall { margin-right: var(--spacing-xsmall); }

.margin-right-large-negative { margin-right: -var(--spacing-large); }
.margin-right-medium-negative { margin-right: -var(--spacing-medium); }
.margin-right-small-negative { margin-right: -var(--spacing-small); }
.margin-right-xlarge-negative { margin-right: -var(--spacing-xlarge); }
.margin-right-xsmall-negative { margin-right: -var(--spacing-xsmall); }

.margin-top-large { margin-top: var(--spacing-large); }
.margin-top-medium { margin-top: var(--spacing-medium); }
.margin-top-small { margin-top: var(--spacing-small); }
.margin-top-xlarge { margin-top: var(--spacing-xlarge); }
.margin-top-xsmall { margin-top: var(--spacing-xsmall); }

.margin-top-large-negative { margin-top: -var(--spacing-large); }
.margin-top-medium-negative { margin-top: -var(--spacing-medium); }
.margin-top-small-negative { margin-top: -var(--spacing-small); }
.margin-top-xlarge-negative { margin-top: -var(--spacing-xlarge); }
.margin-top-xsmall-negative { margin-top: -var(--spacing-xsmall); }

.font-size-xsmall { font-size: var(--font-size-xsmall); }
.font-size-small { font-size: var(--font-size-small); }
.font-size-normal { font-size: var(--font-size-normal); }
.font-size-large { font-size: var(--font-size-large); }
.font-size-xlarge { font-size: var(--font-size-xlarge); }
.font-size-xxlarge { font-size: var(--font-size-xxlarge); }

.screen-small-only {
    display: initial;
}

@media (--media-regular-screens) {
    .screen-small-only {
        display: none;
    }

    .desktop-only {
        display: inherit;
    }
}

.imgview {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.imgview--with-content {
    width: auto;
    padding-left: 24px;
}

.imgview--dot-dot-dot {
    background-image: url(/assets/images/dot-dot-dot.svg);
    background-position: 0px -3px;
    background-size: 21px;
}

.imgview--sources {
    background-image: url(/assets/images/book.svg);
    background-position: -1px -3px;
    background-size: 20px;
}

.imgview--bookmarks {
    background-image: url(/assets/images/star/star-border.svg);
    background-position: -2px -5px;
    background-size: 24px;
}

.imgview--bookmarked {
    background-image: url(/assets/images/star/star-filled.svg);
    background-position: -2px -5px;
    background-size: 24px;
}
