.img-upload,
.img-upload table {
    width: 100%;
}

.img-upload td,
.img-upload table {
    border-collapse: collapse;
}

.img-upload td {
    width: 50%;
}

.img-upload tr:first-child td {
    border-bottom: 1px solid var(--color-std-border-color);
}

.img-upload td:nth-child(2) {
    border-left: 1px solid var(--color-std-border-color);
}

.img-upload__header {
    color: var(--color-light-text-color);
}

.img-upload__header,
.img-upload__footer {
    padding: var(--spacing-medium);
}

.img-upload__act {
    cursor: pointer;
    height: 320px;
    outline: 0;
    overflow: hidden;
    position: relative;
    width: 320px;
}

.img-upload__act__preview {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity var(--speed-friendly);
}

.img-upload__webcam video {
    height: 100%;
    width: 100%;
}

.img-upload__webcam .img-upload__webcam__holder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.img-upload__webcam .img-upload__webcam__trigger {
    background-color: white;
    background-image: url(/assets/images/camera.svg);
    background-position: 9px 11px;
    background-repeat: no-repeat;
    background-size: 26px;
    border-radius: 200px;
    border: 3px solid black;
    bottom: 10px;
    display: none;
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
    z-index: 2;
}

.img-upload__webcam--running .img-upload__webcam__trigger {
    display: block;
}

.img-upload__upload__info,
.img-upload__webcam__info {
    box-sizing: content-box;
    padding: var(--spacing-medium);
    pointer-events: none;
    text-align: center;
}

.img-upload__upload.dz-drag-hover .img-upload__act__preview,
.img-upload__act:hover .img-upload__act__preview {
    opacity: .1;
}

.img-upload__act__preview img {
    width: 250px;
}

.img-upload__upload.dz-drag-hover .img-upload__info_text,
.img-upload__upload.dz-drag-hover .img-upload__info_icon,
.img-upload__act:hover .img-upload__info_text,
.img-upload__act:hover .img-upload__info_icon,
.img-upload__act .img-upload__info_desc {
    display: none;
}

.img-upload__upload.dz-drag-hover .img-upload__info_desc,
.img-upload__act:hover .img-upload__info_desc {
    display: inline-block;
}

.img-upload__info_icon {
    margin-bottom: var(--spacing-small);
}

.img-upload__info_desc {
    color: var(--color-light-text-color);
}

@media (--media-content-max-width) {
    .img-upload__webcam {
        display: none;
    }

    .img-upload .status--error,
    .img-upload .status--success,
    .img-upload .status--message {
        margin-top: var(--spacing-small);
        display: block;
    }
}
