.img-upload,
.img-upload table {
    width: 100%;
}

.img-upload td,
.img-upload table {
    border-collapse: collapse;
}

.img-upload td {
    width: 50%;
}

.img-upload tr:first-child td {
    border-bottom: 1px solid var(--color-std-border-color);
}

.img-upload td:nth-child(2) {
    border-left: 1px solid var(--color-std-border-color);
}

.img-upload__header {
    color: var(--color-light-text-color);
}

.img-upload__header,
.img-upload__footer {
    padding: var(--spacing-medium);
}

.img-upload__act {
    cursor: pointer;
    height: 320px;
    outline: 0;
    overflow: hidden;
    position: relative;
    width: 320px;
}

.img-upload__act__preview {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity var(--speed-friendly);
}

.img-upload__webcam video {
    height: 100%;
    width: 100%;
}

.img-upload__webcam .img-upload__webcam__holder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.img-upload__upload__info,
.img-upload__webcam__info {
    box-sizing: content-box;
    padding: var(--spacing-medium);
    pointer-events: none;
    text-align: center;
}

.img-upload__upload.dz-drag-hover .img-upload__act__preview,
.img-upload__act:hover .img-upload__act__preview {
    opacity: .1;
}

.img-upload__upload.dz-drag-hover .img-upload__info_text,
.img-upload__upload.dz-drag-hover .img-upload__info_icon,
.img-upload__act:hover .img-upload__info_text,
.img-upload__act:hover .img-upload__info_icon,
.img-upload__act .img-upload__info_desc {
    display: none;
}

.img-upload__upload.dz-drag-hover .img-upload__info_desc,
.img-upload__act:hover .img-upload__info_desc {
    display: inline-block;
}

.img-upload__info_icon {
    margin-bottom: var(--spacing-small);
}

.img-upload__info_desc {
    color: var(--color-light-text-color);
}
