.key {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.key::before {
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 7px;
    width: 10px;
}

.key.positive {
    color: var(--color-positive);
}

.key.positive::before {
    background-color: var(--color-positive);
}

.key.negative {
    color: var(--color-negative);
}

.key.negative::before {
    background-color: var(--color-negative);
}
