.message-elem {
    color: white;
    font-weight: bold;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
}

.message-elem * {
    vertical-align: middle;
}

.message-elem + .message-elem {
    margin-top: var(--spacing-xsmall);
}

.message-elem.message-elem--error {
    background-color: var(--color-failure);
}

.message-elem.message-elem--success {
    background-color: var(--color-success);
}

.message-elem button {
    background: transparent;
    border-color: white;
    margin: -8px 8px;
}

.message-elem--banner {
    margin-bottom: var(--spacing-medium);
    padding-right: 20%;
}
