.missing-data__item {
    border: 1px solid var(--color-std-border-color);
    font-size: var(--font-size-large);
    margin: var(--spacing-medium) 0;
    padding: var(--spacing-large);
    text-align: center;
    transition: opacity var(--speed-friendly);
}

.missing-data--active .missing-data__item {
    opacity: .4;
}

.missing-data__loading {
    padding-top: var(--spacing-large);
    text-align: center;
}

.missing-data__title {
    margin: var(--spacing-xlarge) 0;
    text-align: center;
}
