.snav {
    border-top: 1px solid var(--color-std-border-color);
    display: inline-block;
    margin-top: var(--spacing-xsmall);
    max-width: 100%;
    overflow: scroll;
    white-space: nowrap;
}

.snav__item {
    color: var(--color-light-text-color);
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: 700;
    outline: none;
    padding: var(--spacing-small);
    text-transform: uppercase;
    transition: color var(--speed-fast);
}

.snav__item:hover,
.snav__item:active,
.snav__item:focus {
    color: var(--color-std-text-color);
}
