.notification {
    color: var(--color-light-text-color);
    margin-top: var(--spacing-small);
    padding: var(--spacing-small) 0;
    position: relative;
}

.notification b {
    color: black;
}

.notification::before {
    transition: opacity var(--speed-fast), left var(--speed-fast);
    content: '•';
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.notification:hover::before {
    left: -25px;
    opacity: 1;
}
