.notification {
    color: var(--color-light-text-color);
    padding: var(--spacing-large) 0;
    position: relative;
}

.notification:not(:first-child) {
    border-top: 1px solid var(--color-std-thin-border-color);
}

.notification b {
    color: black;
}
