.notification {
    background-color: var(--color-passive-highlight-background-color);
    padding: var(--spacing-small) var(--spacing-medium);
    transition: background-color var(--speed-friendly);
}

.notification--done {
    background-color: white;
}

.notification avatar {
    float: left;
    margin-right: var(--spacing-medium);
}

.notification p {
    font-size: var(--font-size-small);
    line-height: var(--font-height-xsmall);
    margin: 0;
    padding: 0;
}

.notification i18n {
    color: var(--color-light-text-color);
    display: block;
    font-size: var(--font-size-xsmall);
    margin-top: calc(var(--spacing-xsmall) / 2);
}

.notification + .notification {
    border-top: 1px solid var(--color-std-border-color);
}
