.options {
    font-size: 0;
}

.options--label,
.options__item {
    font-size: var(--font-size-normal);
    font-weight: bold;
    text-transform: uppercase;
}

.options__item {
    cursor: pointer;
    transition: color var(--speed-fast);
}

.options__item + .options__item::before {
    color: black;
    content: '/';
    cursor: default;
    padding: 0 5px;
}

.options__item[selected] {
    color: var(--color-cp-brand);
}
