.pills-container {
    position: relative;
}

.pills-element {
    border-radius: var(--input-border-radius);
    border: 1px solid var(--color-std-border-color);
    font-size: var(--font-size-normal);
    min-height: 36px;
    padding: calc(var(--input-padding) / 4) var(--input-padding);
}

.pills-element__selections {
    display: inline;
}

input.pills-element__input {
    border: none;
    font-size: 10pt;
    line-height: 10pt;
    margin: 3px;
    min-width: auto;
    padding-left: 0;
}

.pills-element__pill {
    background-color: var(--color-cp-brand-light);
    border-radius: 1px;
    border: 1px solid var(--color-cp-brand-light);
    color: var(--color-cp-brand);
    display: inline-block;
    font-size: 0;
    line-height: 4px;
    margin: 3px var(--input-padding) 3px 0;
    padding: 4px 5px;
    text-transform: uppercase;
}

.pills-element__pill__label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

.pills-element__pill__remove {
    cursor: pointer;
    display: inline-block;
    font-size: 0px;
    margin-left: 5px;
    padding-left: 5px;
}

.pills-element__pill__remove::after {
    content: '✕';
    font-size: 12px;
}

.pills-results {
    background: white;
    border-top: 0;
    border: 1px solid var(--color-std-border-color);
    box-shadow: 0px 1px 4px 1px var(--color-std-border-color);
    margin-bottom: 50px;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: var(--z-index-header);
}

.pills-results__no_results,
.pills-results__create,
.pills-results__option {
    cursor: pointer;
    font-size: 14px;
    padding: var(--spacing-xsmall) 10px;
    transition: background-color var(--speed-friendly);
}

.pills-results__no_results,
.pills-results__create {
    font-weight: bold;
}

.pills-results__create:hover,
.pills-results__option:hover {
    background: rgba(215, 234, 249, 0.5);
}

.pills-results__stats {
    color: var(--color-light-text-color);
    font-size: var(--font-size-xsmall);
    padding: 7px;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.pills-element__pill[data-pill-type="product-approved-false"],
.pills-element__pill[data-pill-type="tag-approved-false"] {
    background-color: var(--color-std-thin-border-color);
}
