.pills-container {
    position: relative;
}

.pills-element {
    border: 1px solid var(--color-std-border-color);
    font-size: var(--font-size-normal);
    padding: 3px 6px;
}

.pills-element__selections {
    display: inline;
}

input.pills-element__input {
    border: none;
    margin: -4px 0 2px 0;
    min-width: auto;
    padding-left: 0;
    position: relative;
    top: 1px;
}

.pills-element__pill {
    background-color: #D7EAF9;
    border-radius: 1px;
    border: 1px solid #9DB7CA;
    color: #4975AC;
    display: inline-block;
    font-size: 0;
    margin: 3px 6px 3px 0;
    padding: 3px;
}

.pills-element__pill__label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

.pills-element__pill__remove {
    border-left: 1px solid #DADADA;
    cursor: pointer;
    display: inline-block;
    font-size: 0px;
    margin-left: 5px;
    padding-left: 5px;
}

.pills-element__pill__remove::after {
    content: '✕';
    font-size: 12px;
}

.pills-results {
    background: white;
    border-top: 0;
    border: 1px solid var(--color-std-border-color);
    box-shadow: 0px 1px 4px 1px var(--color-std-border-color);
    margin-bottom: 50px;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: var(--z-index-header);
}

.pills-results__no_results,
.pills-results__create,
.pills-results__option {
    cursor: pointer;
    font-size: 14px;
    padding: var(--spacing-xsmall) 10px;
    transition: background-color .3s;
}

.pills-results__no_results,
.pills-results__create {
    font-weight: bold;
}

.pills-results__create:hover,
.pills-results__option:hover {
    background: rgba(215, 234, 249, 0.5);
}

.pills-results__stats {
    color: var(--color-light-text-color);
    font-size: var(--font-size-xsmall);
    padding: 7px;
    pointer-events: none;
    position: absolute;
    right: 0;
}
