.popover {
    background-color: white;
    border-radius: 2px;
    border: 1px solid var(--color-std-border-color);
    display: inline-block;
    font-size: var(--font-size-small);
    transition: opacity var(--speed-friendly);
    z-index: var(--z-index-popover);
}

.popover:not(.popover--with-backdrop) {
    box-shadow: 0 0 5px 3px var(--color-std-shadow-color);
}

.popover__item {
    padding: 10px 20px;
    transition: background-color var(--speed-friendly);
}

.popover__item,
.popover__item * {
    font-size: var(--font-size-small);
}

.popover__item:hover {
    background-color: var(--color-std-hover-background-color);
}

.popover--fullscreen {
    animation-duration: .3s;
    animation-name: fadeIn;
    background-color: rgba(255, 255, 255, 0.97);
    border: none;
    box-shadow: none;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.popover__backdrop {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity var(--speed-friendly);
    width: 100vw;
    z-index: var(--z-index-popover-backdrop);
}

.popover__x {
    color: var(--color-std-header-color);
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.popover__x::after {
    content: "×";
}

.popover--with-content {
    left: 50%;
    max-height: 80vh;
    width: var(--content-max-width);
    overflow-y: scroll;
    padding: 10px 25px 25px 25px;
    position: fixed;
    top: 10vh;
    transform: translateX(-50%);
}

popover-separator {
    border-top: 1px solid var(--color-std-thin-border-color);
    display: block;
    margin: 5px 0;
}

@media (--media-content-max-width) {
    .popover__backdrop {
        display: none !important;
    }

    .popover--with-content {
        height: 100vh;
        max-height: none;
        top: 0px;
        width: 100vw;
    }
}
