.search-button,
input.search__input {
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 16px;
    height: var(--computed-button-height);
}

input.search__input {
    background-image: url(/assets/images/magnifying-class-blue.svg);
    background-position: 15px;
    border-color: var(--color-cp-brand-border-color);
    border-radius: 100px;
    padding-left: var(--computed-button-height);
    width: 100%;
}

.search-button {
    background-image: url(/assets/images/magnifying-class-white.svg);
}

.search__result {
    margin-bottom: var(--spacing-xlarge);
    color: initial;
}

.page--home .search__input {
    border-color: transparent;
    background-image: url(/assets/images/magnifying-class-black.svg);
    max-width: 650px;
}

.page--search .search__input {
    background-image: url(/assets/images/magnifying-class-black.svg);
    border-color: var(--color-std-thick-border-color);
    width: 100%;
}

.search__main,
.search__side {
    vertical-align: top;
}

.search__main {
    display: inline-block;
    width: 100%;
}

.search__side {
    display: none;
    width: 30%;
}

@media (--media-regular-screens) {
    .search__main {
        width: 70%;
    }

    .search__side {
        display: inline-block;
    }

    .page--search .search__input {
        width: 60%;
    }
}
