.tag-elem {
    display: inline-block;
}

.tag-elem * {
    vertical-align: text-top;
}

.tag-elem ng-transclude {
    position: absolute;
}

.tag-elem.positive {
    border-color: var(--color-positive);
    color: var(--color-positive);
}

.tag-elem.negative {
    border-color: var(--color-negative);
    color: var(--color-negative);
}

.tag-elem.keyword {
    background-color: rgba(245, 245, 245, 0.76);
    border-radius: 2px;
    border: 1px solid #B3B3B3;
    color: #525252;
    font-size: 12px;
    padding: 2px 6px;
}

tags {
    width: 100%;
}

tags .tags__tags {
    transition: height .3s, opacity .3s;
}

tags.keywords .tags__tags {
    max-height: 75px;
    overflow-y: scroll;
}

tags.keywords button {
    display: none;
}

tags button {
    margin-bottom: 15px;
}
