.tag-elem {
    display: inline-block;
}

.tag-elem * {
    vertical-align: text-top;
}

.tag-elem ng-transclude {
    position: absolute;
}

.tag-elem.positive {
    border-color: var(--color-positive);
    color: var(--color-positive);
}

.tag-elem.negative {
    border-color: var(--color-negative);
    color: var(--color-negative);
}

.tag-elem.keyword {
    border-radius: 2px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: var(--inline-element-large-gutter);
    margin-right: var(--inline-element-large-gutter);
    padding: var(--spacing-xsmall) calc(var(--spacing-xsmall) + 2);
    text-transform: uppercase;
}

tags {
    width: 100%;
}

tags .tags__tags {
    transition: height var(--speed-friendly), opacity var(--speed-friendly);
}

tags.keywords .tags__tags {
    max-height: 75px;
    overflow-y: scroll;
}

tags.keywords button {
    display: none;
}

tags button {
    margin-bottom: 15px;
}
