/* TODO use BEM */

.tag-elem {
    clear: both;
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-elem * {
    vertical-align: text-top;
}

.tag-elem ng-transclude {
    position: absolute;
}

.tag-elem.keyword {
    border-radius: 2px;
    border: 1px solid var(--color-std-border-color);
    margin-bottom: var(--inline-element-large-gutter);
    margin-right: var(--inline-element-large-gutter);
    padding: var(--spacing-xsmall) calc(var(--spacing-xsmall) + 2);
    text-transform: uppercase;
    transition: color var(--speed-fast), background-color var(--speed-fast), border-color var(--speed-fast);
    white-space: nowrap;

    color: var(--color-light-text-color);
    font-size: calc(var(--font-size-small) - 1);
    font-weight: 700;
    letter-spacing: 1px;
}

.tag-elem.keyword[ng-click]:hover,
.tag-elem.keyword.clickable:hover {
    border-color: black;
}

.tag-elem.keyword[active="true"] {
    background-color: black;
    color: white;
}

.tag-elem.tag--bigword,
.tag-elem.tag--word {
    border-bottom: 1px solid black;
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
    padding: 0 0 2px 0;
}

.tag-elem.tag--bigword {
    font-family: Times;
    font-size: var(--font-size-large);
    margin-right: var(--spacing-small);
}

.tag-elem.tag--word {
    font-weight: 600;
    margin-right: var(--spacing-xsmall);
    text-transform: uppercase;
}

.tag--bigword::after,
.tag--word::after {
    content: ",";
    position: absolute;
}

.tag--bigword::after {
    right: -6px;
}

.tag--word::after {
    right: -5px;
}

.tag--bigword:last-child::after,
.tag--word:last-child::after {
    content: " ";
}

tags {
    width: 100%;
}

tags .tags__tags {
    transition: height var(--speed-friendly), opacity var(--speed-friendly);
}

tags.keywords .tags__tags {
    max-height: 75px;
    overflow-y: scroll;
}

tags.keywords button {
    display: none;
}

tags button {
    margin-bottom: 15px;
}
