textarea,
input:not([type="checkbox"]),
input:not([type="radio"]) {
    border-radius: var(--input-border-radius);
    border: 1px solid var(--color-std-border-color);
    cursor: text;
    font-size: var(--font-size-normal);
    padding: var(--input-padding);
    text-align: left;
    outline: 0;
    word-break: normal;
}

.textarea--inlined {
    border-color: transparent;
    padding: 0;
}

.textarea--summary {
    height: 200px;
}

input:not([type=radio]):not([type=checkbox]).title {
    border-color: transparent;
    font-size: var(--font-size-xlarge);
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 2px;
}

input.loading {
    background-image: url(/assets/images/loading-spin.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

form input + textarea,
form input + input {
    margin-top: var(--spacing-medium);
}

form h2 {
    margin-bottom: var(--spacing-medium);
}

.form--listed section:not(:first-child) {
    margin-top: var(--spacing-medium);
}

.form--listed label:not(.label--inline) {
    display: block;
    padding: var(--input-padding) 0;
}

.form--listed label,
.form--listed label * {
    color: var(--color-std-text-color);
    font-size: var(--font-size-small);
}

.form--listed label:not(:first-child) {
    margin-top: calc(var(--input-padding) * 2);
}

.form--listed input,
.form--listed textarea {
    min-width: 100%;
}

.form--listed label input[type="radio"] + span,
.form--listed label input[type="checkbox"] + span {
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.form--listed textarea {
    height: 150px;
}
