textarea,
input:not([type="checkbox"]),
input:not([type="radio"]) {
    border-radius: var(--input-border-radius);
    border: 1px solid var(--color-std-border-color);
    cursor: text;
    font-size: var(--font-size-normal);
    padding: var(--input-padding);
    text-align: left;
    outline: 0;
    word-break: normal;
}

select-wrapper {
    display: inline-block;
    margin-right: var(--spacing-xsmall);
    position: relative;
}

select-wrapper select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border-radius: 200px;
    border: 1px solid var(--color-std-border-color);
    padding: var(--input-padding) var(--spacing-medium) var(--input-padding) var(--input-padding);
    outline: none;
}

select-wrapper::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid var(--color-std-thick-border-color);
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: var(--spacing-xsmall);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
}

.textarea--inlined {
    border-color: transparent;
    padding: 0;
}

.textarea--summary {
    height: 200px;
}

input:not([type=radio]):not([type=checkbox]).title {
    border-color: transparent;
    font-size: var(--font-size-xlarge);
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 2px;
}

input.input--buttonlike {
    border-radius: 200px;
    padding-left: var(--spacing-small);
}

input.loading {
    background-image: url(/assets/images/loading-spin.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

form .form__fields + textarea,
form input + textarea,
form input + input {
    margin-top: var(--spacing-medium);
}

form h2 {
    margin-bottom: var(--spacing-medium);
}

.form--listed section:not(:first-child) {
    margin-top: var(--spacing-medium);
}

.form--listed label:not(.label--inline) {
    display: block;
    padding: var(--input-padding) 0;
}

.form--listed label,
.form--listed label * {
    color: var(--color-std-text-color);
    font-size: var(--font-size-small);
}

.form--listed label:not(:first-child) {
    margin-top: calc(var(--input-padding) * 2);
}

.form--listed input,
.form--listed textarea {
    min-width: 100%;
}

.form--listed input {
    border-radius: 200px;
}

.form--listed label input[type="radio"] + span,
.form--listed label input[type="checkbox"] + span {
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.form--listed textarea {
    border-radius: 20px;
    height: 150px;
}
