.trending--item,
.trending--item > p {
    font-family: Times;
    font-size: var(--font-size-xlarge);
}

.trending--item > p {
    font-style: italic;
    margin-bottom: var(--spacing-xsmall);
}

.trending--item > div {
    margin-bottom: var(--spacing-xsmall);
}
