/* https://fonts.googleapis.com/css?family=Roboto:100 */
/* https://fonts.googleapis.com/css?family=Roboto:300 */
/* https://fonts.googleapis.com/css?family=Roboto:700 */
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(/assets/fonts/Roboto-100.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/Roboto-300.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/Roboto-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body,
body * {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-normal);
}

textarea,
p,
.copy {
    font-size: var(--font-size-normal);
    font-weight: 300;
    letter-spacing: 0px;
    line-height: var(--font-height-normal);
}

.copy--large {
    font-size: 30px;
    line-height: 40px;
}

p {
    margin-top: var(--spacing-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--spacing-xsmall) 0;
}

h1,
h2 {
    font-family: Times;
    font-weight: 100;
    letter-spacing: 0 !important;
}

h1 {
    font-size: var(--font-size-xxlarge);
    line-height: var(--font-height-h1);
}

h2 {
    font-size: 21px;
    line-height: 23px;
}

/* for section headers (about, common tags, etc.) */
h3 {
    font-family: Times;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0px !important;
    line-height: 19px;
    text-transform: lowercase;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    margin: 5px 0;
    text-transform: uppercase;
}

h4 {
    font-size: 11px;
    font-weight: 100;
    margin: 4px 0;
    text-transform: uppercase;
}

a,
a:visited {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a * {
    cursor: pointer;
}

/* anchors not in paragraphs are actions */
:not(p) a {
    font-size: var(--font-size-small);
    font-weight: 700;
    text-transform: uppercase;
}

a.a--action,
.a--action {
    color: black;
    font-size: var(--font-size-small);
    text-transform: uppercase;
}

.a--action:hover {
    text-decoration: underline;
}
