:root {
    --speed-friendly: .4s;
    --speed-fast: .2s;

    --letter-spacing-small: .5px;

    --font-height-large: 35px;
    --font-height-normal: 30px;
    --font-height-small: 26px;
    --font-height-xsmall: 20px;
    --font-height-h1: 37px;

    --font-size-xxlarge: 34px;
    --font-size-xlarge: 26px;
    --font-size-large: 22px;
    --font-size-normal: 16px;
    --font-size-small: 13px;
    --font-size-xsmall: 10px;

    --color-neutral: #C7C7C7;
    --color-negative: #FC363B;
    --color-positive: #2EC87C;
    --color-link: var(--color-cp-brand);

    --color-highlight: #FCF14D;
    --color-separator: rgb(236, 236, 236);
    --color-cp-brand: rgb(39, 184, 232);
    --color-cp-brand-light: rgba(39, 184, 232, 0.10);
    --color-cp-brand-border-color: rgba(39, 184, 232, .5);

    --color-std-background-color: white;
    --color-std-border-color: #CECECE;
    --color-std-thick-border-color: #9F9F9F;
    --color-std-thin-border-color: #F1F1F1;
    --color-std-header-color: #A2A2A2;
    --color-std-hover-background-color: #F7F7F7;
    --color-std-shadow-color: #F7F7F7;
    --color-std-text-color: #353535;

    --color-light-text-color: #868686;

    --body-padding-top: 10px;
    --inline-element-gutter: 6px;

    --input-padding: 8px;
    --input-border-radius: 3px;

    --spacing-xsmall: 10px;
    --spacing-small: 15px;
    --spacing-medium: 25px;
    --spacing-large: 35px;
    --spacing-xlarge: 45px;

    --content-max-width: 700px;
    --content-main-with-aside-offset: -220px;
    --content-medium-width: 500px;
    --content-aside-width: 400px;
    --content-horizontal-padding: 20px;
    --content-aside-horizontal-padding: 40px;
    --content-timeline-offside: 289px;

    --computed-button-height: 37px;
    --computed-header-height: 85px;

    --z-index-none: -1;
    --z-index-header: 1;
    --z-index-popover-backdrop: 2;
    --z-index-popover: 3;

    --avatar-size: 40px;
}

@custom-media --media-content-max-width (max-width: 700px);
@custom-media --media-regular-screens (min-width: 801px);
@custom-media --media-content-aside-allowed (min-width: 1151px);
