<form class="company__event form--listed">
    <h2 i18n="company/add_event"></h2>

    <section>
        <label i18n="company/field_sentiment"></label>
        <label>
            <input type="radio" name="sentiment" value="1" ng-model="ev.sentiment" />
            <span i18n="company/field_sentiment_positive"></span>
        </label>
        <label>
            <input type="radio" name="sentiment" value="-1" ng-model="ev.sentiment" />
            <span i18n="company/field_sentiment_negative"></span>
        </label>
        <label>
            <input type="radio" name="sentiment" value="0" ng-model="ev.sentiment" />
            <span i18n="company/field_sentiment_neutral"></span>
        </label>
    </section>

    <section>
        <label i18n="company/field_title"></label>
        <input type="text" ng-model="ev.title" />

        <label i18n="company/field_date"></label>
        <input type="date" ng-model="ev.$date" />

        <label i18n="company/field_tied_to"></label>
        <pills selections="ev.$entities" query="queryEntities(query, done)"></pills>

        <label i18n="company/field_tags"></label>
        <pills selections="ev.$tags" query="queryTags(query, done)"></pills>
    </section>

    <section>
        <div ng-repeat="source in ev.sources">
            <h3 i18n="company/source_title" data="{number: {{$index + 1}}}"></h3>

            <label i18n="company/field_source"></label>
            <input type="text" ng-model="source.url" ng-class="{ loading: source.$loading }" />
            <label i18n="company/field_title"></label>
            <input type="text" ng-model="source.title" />
            <label i18n="company/field_pub_date"></label>
            <input type="date" ng-model="source.$date" />
            <textarea i18n="company/field_quote" data="{limit: 500}"
                prop="placeholder" class="margin-top-small"></textarea>
        </div>
    </section>
    <!-- <section class="margin&#45;top&#45;medium"> -->
    <!--     <label i18n="company/section_add_sources"></label> -->
    <!--     <!&#45;&#45; <input ng&#38;#45;repeat="source in _.range(ev.sources.length + 1) track by $index" &#45;&#45;> -->
    <!--     <!&#45;&#45;     ng&#38;#45;model="ev.sources[$index]" /> &#45;&#45;> -->
    <!-- </section> -->
    <!--  -->
    <!-- <section class="margin&#45;top&#45;medium" ng&#45;if="ev.keywords.length"> -->
    <!--     <label> -->
    <!--         <span i18n="company/section_keywords"></span> -->
    <!--         <span>({{ev.keywords.length}})</span> -->
    <!--     </label> -->
    <!--     <tags class="keywords"> -->
    <!--         <tag ng&#45;repeat="keyword in ev.keywords" label="{{::keyword}}" -->
    <!--             class="keyword animated fadeIn"></tag> -->
    <!--     </tags> -->
    <!-- </section> -->

    <button class="right margin-top-small" ng-click="save()" i18n="admin/save"></button>
    <button class="right margin-top-small button--link" ng-click="onCancel()"
        i18n="admin/cancel"></button>
</form>
