<form tcp-inputs="editing" ng-init="initialize()">
    <button class="link" ng-if="editing" ng-click="save()">save</button>
    <button class="link" ng-if="!editing" ng-click="edit()">edit</button>

    <input placeholder="company" ng-model="company" autofocus class="tcp-input-is-header" />
    <input placeholder="url" ng-model="post.url" ng-blur="fetchPost()" class="tcp-input-is-annotation" />
    <tcp-loading ng-class="{show: loading}"></tcp-loading>

    <div class="tags">
        <div ng-repeat="tag in selectionTags track by tag.id"
            ng-click="showcaseHighlightsByTag(tag.id)"
            class="tag animated flipInX">{{::tag.label}}</div>
    </div>

    <div class="post animated fadeIn" ng-if="post.content || post.title" ng-class="{showcasing: showcasing}">
        <h1>{{post.title}}</h1>
        <div class="pre" id="postContent"
            ng-mouseup="selectionMade()"
            ng-mousedown="selectionStarting()"
            ng-click="showAnnotations($event)"
        >{{post.content}}</div>
    </div>

    <div class="selection-editor arrow arrow-down" tcp-tooltip="selectionAnchor">
        <span>This affects</span>
        <select ng-model="selectionData.tag" ng-change="saveSelection()"
            ng-options="tag.label for tag in availalbePostTags track by tag.id">
            <option value="">[choose tag]</option>
        </select>
        <span>in a</span>
        <select ng-model="selectionData.way" ng-change="saveSelection()"
            ng-options="tag.label for tag in availalbePostWays track by tag.id">
            <option value="">[choose way]</option>
        </select>
        <span>way</span>
    </div>
</form>
