<form tcp-inputs="editing" ng-init="initialize()">
    <section class="actions">
        <button class="link" ng-if="editing" ng-click="save()">save</button>
        <button class="link" ng-if="!editing" ng-click="edit()">edit</button>
    </section>

    <section class="content">
        <input placeholder="{{loading ? 'loading' : 'company name'}}" ng-model="company.name" autofocus class="tcp-input-is-header" />
        <input placeholder="url" ng-if="company" ng-model="post.url" ng-blur="fetchPost()" class="tcp-input-is-annotation animated fadeIn" />
        <tcp-loading ng-class="{show: loading}"></tcp-loading>

        <div class="tags">
            <div ng-repeat="tag in selection.tags track by tag.id"
                ng-click="showcaseHighlightsByTag(tag.id)"
                class="tag animated flipInX">{{::tag.label}}</div>
        </div>

        <div class="post animated fadeIn" ng-if="post.content || post.title" ng-class="{showcasing: showcasing}">
            <h1>{{post.title}}</h1>
            <div class="pre" id="postContent"
                ng-mouseup="selectionMade()"
                ng-mousedown="selectionStarting()"
                ng-click="showAnnotations($event)"
            >{{post.content}}</div>
        </div>
    </section>

    <ng-include tcp-tooltip="selection.anchor"
        class="selection-editor arrow arrow-down"
        src="'/app/modules/post/selection-editor-tooltip.html'">
    </ng-include>
</form>
