<div style="<%- styles.container %>">
  <img style="<%- styles.header_logo %>" alt="<%- images.cp_main.alt %>" src="<%- images.cp_main.base64 %>" />

  <p style="<%- styles.paragraph %>"><%- i18n.get('common/welcome_email_text', { name: payload.name }) %></p>
  <div style="<%- styles.separator %>"></div>

  <center>
    <a href="" style="<%- styles.footer_text %>">consumrproject.org</a>
    <a href="" style="<%- styles.footer_text %>"><%- i18n.get('common/unsubscribe') %></a>
  </center>
</div>
