<div style="<%- styles.container %>">
  <img style="<%- styles.header_logo %>" alt="consumr project"
    src="http://consumr-project.herokuapp.com/assets/images/consumrproject-text.png" />

  <p style="<%- styles.paragraph %>"><%- i18n.get('common/welcome_email_text', { name: user.name }) %></p>
  <div style="<%- styles.separator %>"></div>

  <center>
    <a href="" style="<%- styles.footer_text %>">consumrproject.org</a>
    <a href="" style="<%- styles.footer_text %>"><%- i18n.get('common/unsubscribe') %></a>
  </center>
</div>
