<div>
    <message ng-if="vm.not_found" type="error" i18n="common/not_found"></message>
    <h1 class="take-space animated fadeIn" ng-if="vm.existing">{{company.name}}</h1>

    <section ng-if="!vm.existing">
        <input class="block title" type="text" autofocus="true"
            i18n="company/name_placeholder" prop="placeholder"
            ng-class="{ loading: vm.fetching_company_summary }"
            ng-model="company.name" ng-model-options="{ debounce: 300 }" />

        <div class="margin-top-medium margin-bottom-medium">
            <button ng-click="save()" i18n="admin/save"></button>
        </div>
    </section>

    <section ng-if="vm.existing && company.$loaded">
        <div class="margin-top-medium margin-bottom-medium">
            <button ng-click="vm.add_event.show()" i18n="company/add_event"></button>
        </div>

        <popover popover-backdrop popover-api="vm.add_event" class="popover--with-content">
            <company-event
                on-save="vm.add_event.hide()"
                on-cancel="vm.add_event.hide()"
                tied-to="{companies: [company.guid]}"
            ></company-event>
        </popover>
    </section>

    <p class="animated fadeIn" ng-repeat="paragraph in company.$summary_parts">{{::paragraph}}</p>

    <section ng-if="vm.existing && company.$loaded" ng-init="loadFollowers(company.id)" class="margin-top-xlarge">
        <followed-by
            users="company.$followed_by"
            on-start-following="onStartFollowing()"
            on-stop-following="onStopFollowing()"
        ></followed-by>
    </section>
</div>
