.tag-elem {
    display: inline-block;
}

.tag-elem * {
    vertical-align: text-top;
}

.tag-elem ng-transclude {
    position: absolute;
}

.tag-elem.good {
    border-color: var(--color-good);
    color: var(--color-good);
}

.tag-elem.bad {
    border-color: var(--color-bad);
    color: var(--color-bad);
}

.tag-elem.keyword {
    background-color: rgba(245, 245, 245, 0.76);
    border-radius: 2px;
    border: 1px solid #B3B3B3;
    color: #525252;
    font-size: 12px;
    padding: 2px 6px;
}

tags {
    width: 100%;
}

tags .tags--tags {
    transition: height .3s, opacity .3s;
}

tags button {
    margin-bottom: 15px;
}

tags button .tags--label {
    margin-left: 15px;
    text-transform: lowercase;
}
