tag {
    display: inline-block;
}

tag.good {
    border-color: var(--color-good);
    color: var(--color-good);
}

tag.bad {
    border-color: var(--color-bad);
    color: var(--color-bad);
}

tags {
    width: 100%;
}

tags .tags--tags {
    transition: height .3s, opacity .3s;
}

tags button {
    margin-bottom: 15px;
}

tags button .tags--label {
    margin-left: 15px;
    text-transform: lowercase;
}
