<form tcp-inputs="editing" class="company-form">
    <button class="link" ng-if="editing" ng-click="save()">save</button>
    <button class="link" ng-if="!editing" ng-click="edit()">edit</button>

    <input placeholder="name" ng-model="name" autofocus ng-blur="fetchCompanyInformation()" />
    <tcp-loading ng-class="{show: loading}"></tcp-loading>

    <img ng-show="company.logo" class="animated fadeIn" ng-src="{{company.logo}}" />
    <div ng-show="company.description" class="pre animated fadeIn">{{company.description}}</div>
</form>
