<form tcp-inputs="editing" class="company-form" ng-init="initialize()">
    <section class="actions">
        <button class="link" ng-disabled="loading" ng-if="editing" ng-click="save()">save</button>
        <button class="link" ng-disabled="loading" ng-if="!editing" ng-click="edit()">edit</button>
    </section>

    <section class="content">
        <div class="company-summary">
            <input placeholder="{{loading ? 'loading' : 'name'}}" class="tcp-input-is-header" autofocus
                ng-change="changed = true" ng-blur="fetchCompanyInformation()"
                ng-model="company.name" />

            <tcp-loading ng-class="{show: loading}"></tcp-loading>

            <img ng-show="company.logo" class="animated fadeIn" ng-src="{{company.logo}}" />
            <div ng-show="company.description" class="pre animated fadeIn">{{company.description}}</div>
        </div>

        <div class="separator"></div>

        <div class="tags" ng-show="!loading">
            <div class="tag animated flipInX">chocolate</div>
            <div class="tag animated flipInX">fishing</div>
            <div class="tag animated flipInX">fast food</div>
            <div class="tag animated flipInX">grocery store</div>
            <div class="tag animated flipInX">animal testing</div>
            <div class="tag animated flipInX">international</div>
        </div>
    </section>
</form>
