<div class="site-content">
    <h1 ng-if="existing">{{company.name}}</h1>

    <section ng-if="!existing">
        <input class="block" type="text" autofocus="true"
            ng-model="company.name" ng-model-options="{ updateOn: 'blur' }" />

        <br>
        <button class="right" ng-click="save()">Save</button>
        <br>
        <br>

        <section ng-if="error">
            <br>
            <message type="error">{{::error}}</message>
        </section>
    </section>

    <img ng-if="company.image" ng-src="{{company.image}}"
        class="animated fadeIn desktop-only company--logo" />

    <p ng-repeat="paragraph in company.$summaryParts">{{::paragraph}}</p>
</div>
