<div class="site-content" ng-init="companyPage()">
    <h1 ng-if="existing">{{company.name}}</h1>

    <section ng-if="!existing">
        <input class="block" type="text" autofocus="true"
            ng-model="company.name" ng-model-options="{ debounce: 300 }" />

        <section ng-if="error" class="margin-top-small">
            <message type="error">{{::error}}</message>
        </section>

        <div class="right-align margin-top-small margin-bottom-medium">
            <button ng-click="save()">Save</button>
        </div>
    </section>

    <popover popover-backdrop popover-api="addEvent" class="popover--with-content">
        <company-event></company-event>
    </popover>

    <p ng-repeat="paragraph in company.$summaryParts">{{::paragraph}}</p>
</div>
