.article .article--short-content {
    display: block;
    margin: 20px 0;
    padding-top: 10px;
}

.article .article--short-content:first-of-type {
    padding-top: 0;
    margin-top: 0;
}

.article + .article {
    border-top: 1px solid var(--color-separator);
}

.article .article--short-content indicator {
    float: right;
    position: relative;
    right: 10px;
    top: -5px;
}

.article--highlight {
    background: rgb(255, 254, 196);
    text-shadow: none;
    cursor: pointer;
}

.entry img,
.entry iframe {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 100vw;
}

.entry img {
    max-width: 1200px;
}

.entry iframe {
    max-width: calc(var(--content-max-width) - var(--content-horizontal-padding) * 2);
}

.entry .article--sub-images img {
    display: inline;
    margin: 5px;
    vertical-align: middle;
    width: 30%;
}

.entry .article--sub-images {
    display: none;
}

@media (min-width:600px) {
    .entry .article--sub-images {
        display: block;
    }
}
