<div class="article">
    <div class="article--short-content" ng-if="::isShort">
        <h2 class="title"><a href="{{::info.url}}">{{::info.title}}</a></h2>
        <h3 class="uppercase"><a class="subtitle" href="{{::info.external_url}}">{{::info.source_display}}</a></h3>
        <indicator type="useful" value="::info.useful_counter"></indicator>
        <h3 class="uppercase subtitle">{{::info.release_date}}</h3>
    </div>
    <div class="article--full-content" ng-if="::!isShort">
        <h1>{{::info.title}}</h1>

        <!-- <div ng&#45;if="info.images.length"> -->
        <!--     <img class="block" ng&#45;repeat="src in info.images" ng&#45;src="{{src}}" /> -->
        <!--     <br> -->
        <!-- </div> -->

        <div class="right-align">
            <indicator ng-if="info.highlights.length" type="highlights" value="info.highlights.length"></indicator>
            <indicator ng-click="onFoundUseful()" type="useful" value="info.useful_counter"></indicator>
        </div>

        <div ng-include="'/app/modules/article/citation.html'"></div>

        <div id="entryArticleContent"
            highlighter="info.highlights"
            highlighter-api="highlighterApi"
            highlighter-on-highlight="onHighlight({highlight: highlight})"
            highlighter-on-highlight-click="onHighlightClick({highlight: highlight})"
            highlighter-on-non-highlight-click="onNonHighlightClick({highlight: highlight})"
        >
            <p ng-repeat="paragraph in info.contentParts">{{::paragraph}}</p>
        </div>

        <br>

        <div>
            <tag ng-repeat="keyword in info.keywords" label="{{::keyword}}" class="keyword"></tag>
        </div>
    </div>
</div>
