<div class="entry">
    <h1 class="site-content">{{::entry.title}}</h1>

    <img src="{{::entry.src}}" />

    <div class="site-content">
        <table class="full-span">
            <tr>
                <td>
                    <div ng-include="'/app/modules/article/citation.html'"></div>
                </td>
                <td class="right-align">
                    <indicator ng-click="onFoundUseful()" type="useful" value="entry.useful_counter"></indicator>
                </td>
            </tr>
        </table>

        <p ng-repeat="paragraph in ::entry.contentParts track by $index">{{::paragraph}}</p>
    </div>
</div>
