<div class="entry">
    <h1>{{::info.title}}</h1>

    <div ng-bind-html="::info.html"></div>

    <table class="full-span">
        <tr>
            <td>
                <div ng-include="'/app/modules/article/citation.html'"></div>
            </td>
            <td class="right-align">
                <indicator ng-click="onFoundUseful()" type="useful" value="info.useful_counter"></indicator>
            </td>
        </tr>
    </table>

    <p ng-repeat="paragraph in ::info.contentParts">{{::paragraph}}</p>
</div>
