.entry.article.summary {
    display: block;
    margin: 20px 0;
    padding-top: 10px;
}

.entry.article.summary:first-of-type {
    padding-top: 0;
    margin-top: 0;
}

.entry.article + .entry.article {
    border-top: 1px solid var(--color-separator);
}

.entry.article.summary indicator {
    float: right;
    position: relative;
    right: 10px;
    top: -5px;
}

.highlight--inline-item {
    background: rgb(255, 254, 196);
    text-shadow: none;
    cursor: pointer;
}

.entry img,
.entry iframe {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 100vw;
}

.entry img,
.entry.rich iframe {
    max-width: 1100px;
}

.entry:not(.rich) iframe {
    max-width: calc(var(--content-max-width) - var(--content-horizontal-padding) * 2);
}

.entry.rich iframe {
    height: 70vh;
}

.entry--sub-images img {
    display: inline;
    margin: 5px;
    vertical-align: middle;
    width: 30%;
}

.entry--sub-images {
    display: none;
}

@media (min-width:600px) {
    .entry--sub-images {
        display: block;
    }
}
