<div class="entry {{entry_type}} {{entry_view}}">
    <div ng-if="::is_summary">
        <h2 class="title"><a href="{{::model.url}}">{{::model.title}}</a></h2>
        <h3 class="uppercase"><a class="subtitle" href="{{::model.external_url}}">{{::model.source_display}}</a></h3>
        <indicator type="useful" value="::model.useful_counter"></indicator>
        <h3 class="uppercase subtitle">{{::model.release_date}}</h3>
    </div>
    <div ng-if="::is_full">
        <h1 class="site-content">{{::model.title}}</h1>

        <img ng-if="header_image" ng-src="{{header_image}}" />
        <div ng-if="model.html" ng-bind-html="::model.html"></div>

        <div class="site-content">
            <div class="entry--sub-images center-align animated fadeIn" ng-if="model.images.length > 1">
                <hr>
                <img ng-click="selectHeaderImage(image)" ng-repeat="image in ::model.images" ng-src="{{::image}}" />
                <hr>
                <br>
                <br>
            </div>

            <table class="full-span">
                <tr>
                    <td>
                        <div ng-include="'/app/modules/entry/citation.html'"></div>
                    </td>
                    <td class="right-align">
                        <indicator ng-if="model.highlights.length" type="highlights" value="model.highlights.length"></indicator>
                        <indicator ng-click="onFoundUseful()" type="useful" value="model.useful_counter"></indicator>
                    </td>
                </tr>
            </table>

            <div id="entry__content"
                highlighter="model.highlights"
                highlighter-api="highlighterApi"
                highlighter-on-highlight="onHighlight({highlight: highlight})"
                highlighter-on-highlight-click="onHighlightClick({highlight: highlight})"
                highlighter-on-non-highlight-click="onNonHighlightClick({highlight: highlight})"
            >
                <p ng-repeat="paragraph in ::model.contentParts track by $index">{{::paragraph}}</p>
            </div>

            <br>

            <div>
                <tag ng-repeat="keyword in ::model.keywords" label="{{::keyword}}" class="keyword"></tag>
            </div>
        </div>
    </div>
</div>
