<div class="site-content">
    <input type="text" class="block" ng-model="entry.url" ng-model-options="{ updateOn: 'blur' }" />
</div>

<br>
<br>

<popover
    anchored
    anchored-element="highlight.node"
    anchored-show="highlight.on"
    anchored-placement="top"
    anchored-top-offset="-10"
>
    <popover-item ng-show="!highlight.editing" ng-click="saveHighlight()">Highlight</popover-item>
    <popover-item ng-show="highlight.editing" ng-click="removeHighlight()">Remove</popover-item>
</popover>

<entry
    model="entry"
    type="{{entry.type}}"
    class="animated fadeIn"
    ng-if="entry.ok"
    highlighter-api="highlight.api"
    on-found-useful="onFoundUseful()"
    on-highlight="onHighlight({highlight: highlight})"
    on-highlight-click="onHighlightClick({highlight: highlight})"
    on-non-highlight-click="cleanHighlightState()"
></entry>

<message
    class="site-element animated fadeIn"
    ng-if="entry.type === type.error"
    type="error"
>{{::entry.error_message}} ({{::entry.error_code}})</message>
