<input type="text" class="block" ng-model="entry.article.external_url" ng-model-options="{ updateOn: 'blur' }" />

<br>
<br>

<popover
    anchored
    anchored-element="highlight.node"
    anchored-show="highlight.on"
    anchored-placement="top"
    anchored-top-offset="-10"
>
    <popover-item ng-show="!highlight.editing" ng-click="saveHighlight()">Highlight</popover-item>
    <popover-item ng-show="highlight.editing" ng-click="removeHighlight()">Remove</popover-item>
</popover>

<video
    info="entry.video"
    ng-if="entry.is_video"
    on-found-useful="onFoundUseful()"
></video>

<article
    info="entry.article"
    ng-if="entry.is_article"
    class="animated fadeIn"
    highlighter-api="highlight.api"
    on-found-useful="onFoundUseful()"
    on-highlight="onHighlight({highlight: highlight})"
    on-highlight-click="onHighlightClick({highlight: highlight})"
    on-non-highlight-click="cleanHighlightState()"
></article>
