<popover class="popover--fullscreen" popover-api="loginPopover" ng-init="loginPopover.showMoreOptions = false">
    <div class="site-content site-content--no-header">
        <h2 i18n="common/welcome"></h2>
        <p i18n="common/intro"></p>

        <br>

        <button class="button--social-linkedin" ng-click="linkedinLogin()">
            <img src="public/images/linkedin.png" />
            <span i18n="admin/signInWithService" data="{service: 'LinkedIn'}"></span>
        </button>
        <button ng-click="loginPopover.showMoreOptions = true" i18n="admin/moreOptions"></button>

        <br>
        <br>

        <a ng-click="loginPopover.hide()" i18n="admin/remindLater"></a>

        <div ng-show="loginPopover.showMoreOptions" class="animated fadeInUp">
            <p i18n="admin/signInWithEmail"></p>
            <input class="large" type="text" placeholder="you@email.com" />
        </div>
    </div>
</popover>
