.key {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    font-weight: bold;
}

.key::before {
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 7px;
    width: 10px;
}

.key.good {
    color: rgb(73, 152, 138);
}

.key.good::before {
    background-color: rgb(73, 152, 138);
}

.key.bad {
    color: rgb(232, 38, 59);
}

.key.bad::before {
    background-color: rgb(232, 38, 59);
}
